// =======================================================================
// Article
// =======================================================================

.c-article {
   margin-bottom: 5vh;
   .c-article__header {
      margin-bottom: 5vh;
   }
   h2.c-article__lede {
      margin-bottom: 2.25rem; //36px
      @include fs__maxi;
      strong {
         display: inline;
      }
   }
   p.c-article__lede {
      font-size: 1.125rem;
   }
   @media(min-width: $b__medium) {
      margin-bottom: 0;
   }
}
.c-section__content--inner .c-article:first-child {
   margin-bottom: 10vh;
}
