// =======================================================================
// Primary & secondary calls to action
// =======================================================================
.c-cta {
   display: inline-block;
   padding: 0.75rem 1.15rem;
   text-decoration: none;
   &--primary {
      @include ff--sans-serif($fw__semibold);
      @include fs__micro;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: $c__neutral--lightest;
      background: $c__neutral--darkest;
      border-radius: $radius__mini;
      &:hover {
         color: $c__neutral--lightest;
         background: $c__neutral--mid;
      }
      &:active {
         opacity: .8;
      }
   }
   &--link {
      padding: 0;
      line-height: 0.75;
      span:after {
         display: inline-block;
         width: 1%;
         height: 2px;
         content: '';
         background: $c__neutral--white;
         transition: all .25s ease-in-out;
      }
      &:hover span:after {
         width: 100%;
         background: $c__neutral--lightest;
      }
   }
}
