// =======================================================================
// Grouping
// =======================================================================

html {
   box-sizing: border-box;
   -ms-text-size-adjust: 100%;
  	-webkit-text-size-adjust: 100%;
   -webkit-font-smoothing: antialiased;
}

::selection {
   background: $c__selection;
}

body {
   font-size: 100%;
   @include ff--sans-serif($fw__regular);
   line-height: $u__base-line-height;
   color: $c__neutral--dark;
}

article, aside, footer, header, main, nav, section {
   display: block;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
   font-size: 1em;
   font-weight: inherit;
   text-rendering: optimizeLegibility;
}
