// Bootstrap Grid only
//
// Includes relevant variables and mixins for the flexbox grid
// system, as well as the generated predefined classes (e.g., `.col-sm-4`).

//
// Box sizing, responsive, and more
//

@at-root {
  @-ms-viewport { width: device-width; }
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


//
// Variables
//

@import "grid/variables";

//
// Grid mixins
//

@import "grid/mixins/clearfix";
@import "grid/mixins/breakpoints";
@import "grid/mixins/grid-framework";
@import "grid/mixins/grid";

//
// Grid utilities
//

@import "grid/utilities/display";
@import "grid/utilities/flex";

@import "grid/grid";
