// =======================================================================
// Branding
// =======================================================================

.c-branding {
   display: inline-block;
   margin-bottom: 2vh;
   .c-branding__svg {
      width: 130px;
      fill: $c__neutral--darkest;
      @media (min-width: $b__large) {
         width: 150px;
      }
   }
   @media(min-width: $b__medium) {
      margin-bottom: 0;
   }
}
