// =======================================================================
// Primary & secondary calls to action
// =======================================================================
//Primary
.c-cta__primary {
   display: inline-block;
   overflow: hidden;
   padding: 0.8rem;
   @include fs__base;
   background: $c__neutral--white;
   //box-shadow: 0 1px 5px rgba(0, 0, 0, .04);
   transform-origin: left;
   transition: all .33s ease-in-out;
   & > span {
      position: relative;
      z-index: 3;
   }
   &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content:'';
      background: $c__neutral--black;
      opacity: 0;
      transform: translate3d(-100%, 0%, 0);
      transition: transform .22s ease-in-out;
      z-index: 2;
   }
   &:hover {
      margin-left: 3%;
      color: $c__neutral--white;
      //box-shadow: 0 1px 5px rgba(0, 0, 0, .04), 0 5px 24px rgba(0, 0, 0, .08), -6px 6px 0 rgba(0, 0, 0, .05);
      box-shadow: -6px 6px 0 rgba(0, 0, 0, .05);
      transform: scale(1.09);
      transition: all .22s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &:after {
         opacity: 1;
         transform: translateZ(0);
      }
   }
}
.c-cta__secondary {

}
