// =======================================================================
// Figures
// =======================================================================

.c-figure {
   margin-bottom: 2vh;
   img {
      margin-bottom: 2vh;
   }
}
.c-figure--scroller {
   margin-bottom: 5vh;
   overflow: hidden;
   img {
      margin-bottom: 0;
      margin-left: -8vw;
      width: 240%;
      max-width: none;
   }
   &:after {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100vw;
      content: '';
      z-index: 0;
      background: transparentize($c__neutral--black, .95);
   }
   @media(min-width: $b__medium) {
      img {
         width: 140%;
      }
   }
   @media(min-width: $b__large) {
      img {
         margin-left: 0;
         width: 90%;
         //width: auto;
         //max-width: 100%;
      }
   }
}
.c-figure--svg {
   img {
      margin-bottom: 0;
      width: 79px;
      height: 79px;
   }
}
