// =======================================================================
// Figures
// =======================================================================

.c-figure {
   margin-bottom: $u__base-spacing;
   img {
      margin-bottom: $u__base-spacing / 2;
      &:last-child {
         margin-bottom: 0;
      }
   }
}
