// =======================================================================
// Footer
// =======================================================================

.c-footer {
   padding-top: 5vh;
   padding-bottom: 5vh;
   border-top: 1px solid $c__faint--dark;
}
