// =======================================================================
// Item
// =======================================================================

.c-item--index {
   @include grid-column(12);
   position: relative;
   margin-bottom: 8vh;
   padding: 8vh 0;
   .c-article {
      padding: 0 6vw;
      header h2 {
         color: rgba(0, 0, 0, .4);
      }
   }
   &:last-child {
      margin-bottom: 0;
   }
   &:first-child {
      //background: url('/dist/images/patterns/bg__item--one.svg'), #f5d547;
      background: url('/dist/images/patterns/bg__item--yellow.svg'), #f8df7c;
   }
   &:nth-child(2) {
      //background: url('/dist/images/patterns/bg__item--four.svg'), #a3e8eb;
      background: url('/dist/images/patterns/bg__item--teal.svg'), #bdeef1;
   }
   &:nth-child(3) {
      //background: url('/dist/images/patterns/bg__item--two.svg'), #b078f5;
      background: url('/dist/images/patterns/bg__item--purple.svg'), #c8a0f9;
   }
   &:nth-child(4) {
      //background: url('/dist/images/patterns/bg__item--four.svg'), #47b5f5;
      background: url('/dist/images/patterns/bg__item--blue.svg'), #80cbf8;
   }
   &:nth-child(5) {
      //background: url('/dist/images/patterns/bg__item--one.svg'), #de4239;
      background: url('/dist/images/patterns/bg__item--orange.svg'), #fccf8e;
   }
   &:last-child {
      //background: url('/dist/images/patterns/bg__item--four.svg'), #3ed662;
      background: url('/dist/images/patterns/bg__item--green.svg'), #78e08b;
   }
   @media(min-width: $b__medium) {
      .c-article {
         @include grid-column(8);
         @include grid-push(2);
         padding: 0;
      }
      &:after {
         width: 60vw;
      }
   }
   @media(min-width: $b__large) {
      &:after {
         width: 50vw;
      }
      &:nth-child(odd):after {
         right: -4vw;
      }
      &:nth-child(even):after {
         left: -4vw;
      }
   }
}
