// =======================================================================
// Item
// =======================================================================

.c-item {

}
.c-item--work {
   margin-bottom: 4vh;
   padding: 6vw;
   background: $c__stone--lightest;
   .c-figure, .c-figure * {
      margin-bottom: 0;
   }
   p {
      text-align: center;
   }
   @media(min-width: $b__medium) {
      margin-bottom: 0;
      padding: 2vw;
   }
}
