// =======================================================================
// Links
// =======================================================================

a {
   color: $c__neutral--black;
   font-weight: $fw__medium;
   &:hover {
      color: $c__neutral--mid;
   }
   &:active {
      color: $c__neutral--light;
   }
}
