// =======================================================================
// Links
// =======================================================================

a {
   text-decoration: underline;
   font-weight: $fw__medium;
   color: white;
   &:hover {
      text-decoration: none;
      color: currentColor;
   }
   &:active {
      color: $c__neutral--lightest;
   }
}
.c-link--primary {
   @include fs__maxi;
   font-weight: $fw__light;
   color: $c__primary;
   &:hover {
      color: $c__neutral--white;
   }
}
