// =======================================================================
// Links
// =======================================================================

a {
   color: $c__neutral--black;
   font-weight: $fw__semibold;

   &:hover {
      color: $c__neutral--mid;
   }

   &:active {
      color: $c__neutral--light;
   }
}
