// =======================================================================
// Lists
// =======================================================================

.c-list {
   padding: 0;
   list-style: none;
   .c-list__item {
      margin-bottom: 1vh;
      color: $c__neutral--mid;
      &:last-child {
         margin-bottom: 0;
      }
   }
   .c-list {
      margin-bottom: 4vh;
      &:last-child {
         margin-bottom: 0;
      }
   }
}
.c-list--flex {
   display: flex;
   justify-content: space-between;
}
.c-list--horizontal {
   .c-list__item {
      display: inline;
   }
}
