// =======================================================================
// Lists
// =======================================================================

.c-list {
   padding: 0;
   margin-bottom: 1rem; //16px
   list-style: none;
   .c-list__item {
      margin-bottom: $u__base-spacing;
      color: $c__neutral--mid;
   }
}
.c-list--horizontal {
   .c-list__item {
      display: inline;
   }
}
