// =======================================================================
// Navigation
// =======================================================================

.c-nav {
   display: flex;
   .c-nav__items {
      padding: 0;
      list-style: none;
      .c-nav__item {
         display: inline;
         margin-right: 5vw;
         &:last-child {
            margin-right: 0;
         }
         a {
            @include fs__base;
            font-weight: $fw__regular;
            color: $c__neutral--light;
            text-decoration: none;
            &:hover {
               color: $c__neutral--dark;
            }
         }
         &.c-nav__item--selected a {
            font-weight: $fw__semibold;
            color: $c__neutral--black;
         }
      }
   }
}
.c-nav--secondary .c-nav__items .c-nav__item {
   a {
      @include fs__mini;
      font-weight: $fw__medium;
      color: $c__neutral--light;
      text-decoration: underline;
      &:hover {
         color: $c__neutral--light;
         text-decoration: none;
      }
      &:active {
         color: $c__neutral--mid;
      }
   }
   &.c-nav__item--selected a {
      color: $c__neutral--light;
      text-decoration: line-through;
   }
}
