// =======================================================================
// Navigation
// =======================================================================

.c-nav {
   .c-nav__toggle {
      cursor: pointer;
      svg rect {
         fill: $c__neutral--darkest;
      }
      @media(min-width: $b__medium) {
         display: none;
      }
   }
   .c-nav__items {
      display: none;
      @media(min-width: $b__medium) {
         display: block;
         padding: 0;
         list-style: none;
         .c-nav__item {
            display: inline;
            margin-right: 6vw;
            &.c-nav__item--selected a {
               color: $c__neutral--light;
            }
            &:last-child {
               margin-right: 0;
            }
            a {
               text-decoration: none;
            }
         }
      }
   }
}
.c-nav--mobile {
   display: none;
}
