// =======================================================================
// Sections
// =======================================================================

.c-section {
   margin-bottom: 5vh;
   &--extend {
      margin-bottom: 10vh;
   }
   &--bleed {
      padding: 10vh 0;
   }
   &--darken {
      margin-bottom: 0;
      color: $c__muted--light;
      background: $c__neutral--darkest;
      a {
         color: $c__neutral--white;
         &:active {
            color: $c__neutral--light;
         }
      }
      h1, h3 {
         color: $c__neutral--white;
      }
      h4 {
         color: $c__neutral--mid;
      }
      .c-list--segmented .c-list__item {
         border-bottom: 1px solid $c__neutral--dark;
         &:first-child {
            border-top: 1px solid $c__neutral--dark;
         }
      }
   }
}
