// =======================================================================
// Sections
// =======================================================================

.c-section {
   margin-bottom: 1.875rem; //30px
   @media(min-width: $b__medium) {
      margin-bottom: 4vh;
   }
   &--mb0 {
      margin-bottom: 0;
   }
   &--grey {
      background: $c__neutral--lightest;
   }
   &--stone {
      background: $c__stone--lightest;
   }
   &--black {
      color: #ccc;
      background: $c__neutral--darkest;
      h1 {
         color: $c__neutral--white;
      }
      a {
         color: $c__neutral--white;
         &:hover {
            color: $c__neutral--light;
         }
         &:active {
            color: $c__neutral--lightest;
         }
      }
      .c-cta--primary {
         color: $c__neutral--darkest;
         background: $c__neutral--white;
         &:hover {
            color: $c__neutral--dark;
            background: $c__neutral--lightest;
         }
      }
      .c-cta--secondary {
         color: $c__neutral--light;
         background: $c__neutral--dark;
         &:hover {
            color: $c__neutral--lightest;
            background: $c__neutral--mid;
         }
      }
   }
}
