// =======================================================================
// Sections
// =======================================================================

.c-section {
   margin-bottom: 5vh;
   padding: 10vh 0;
   .c-section__header:first-child, .c-section__header--centered:first-child {
      margin-bottom: 10vh;
      @media(min-width: $b__medium) {
         margin-bottom: 6vh;
      }
   }
   .c-section__header--centered {
      text-align: center;
   }
   &--extend {
      margin-bottom: 10vh;
      padding: 0;
   }
   &--bleed, &--stone {
      margin-bottom: 0;
      padding: 10vh 0;
   }
   &--stone {
      background: $c__stone--lightest;
   }
   &--diabetik {
      background: $c__realo;
   }
   &--darkest {
      ::selection {
         background: $c__faint--light;
      }
      color: $c__muted--light;
      background: $c__neutral--darkest;
      .c-cta {
         &--primary {
            color: $c__neutral--darkest;
            background: $c__neutral--lightest;
            &:hover {
               color: $c__neutral--lightest;
               background: $c__neutral--mid;
            }
         }
         &--link {
            &:after {
               background: rgba(255, 255, 255, .5);
            }
         }
      }
      a {
         color: $c__neutral--white;
         &:active {
            color: $c__neutral--light;
         }
      }
      h1, h2, h3 {
         color: $c__neutral--white;
      }
      h4 {
         color: $c__neutral--mid;
      }
      .c-list--segmented .c-list__item {
         border-bottom: 1px solid $c__neutral--dark;
         &:first-child {
            border-top: 1px solid $c__neutral--dark;
         }
      }
   }
}
