// =======================================================================
// Typography
// =======================================================================

// Headings
h1 {
   margin-bottom: 1.625rem;
   @include ff--serif;
   @include fs__mega;
   color: $c__neutral--darkest;
   strong {
      @include ff--serif($fw__bold);
   }
}
h2 {
   margin-bottom: 1rem;
   @include ff--sans-serif($fw__light);
   @include fs__maxi;
   color: $c__neutral--light;
}
h3 {
   margin-bottom: 1rem;
   @include ff--sans-serif;
   @include fs__midi;
   color: currentColor;
}
h4 {
   margin-bottom: 1rem;
   @include ff--sans-serif($fw__medium);
   @include fs__micro;
   color: $c__muted--dark;
   text-transform: uppercase;
   letter-spacing: 0.1rem;
}
b {
   font-weight: $fw__semibold;
}
strong {
   font-weight: $fw__bold;
}
small {
   @include fs__micro;
   color: $c__muted--dark;
}
p {
   margin-bottom: $u__base-spacing * 1.5;
   &:last-child {
      margin-bottom: 0;
   }
}
code {
   padding: 0.1875rem; //3px
   @include ff__monospaced;
   @include fs__micro;
   background: $c__faint--dark;
   border-radius: $radius__micro;
}

//Figcaption
figcaption {
   p {
      @include fs__micro;
      color: $c__neutral--mid;
   }
}

// Blockquote
blockquote {
   margin: 0;
   p {
      //margin-bottom: 0.5rem; //8px
      //@include ff--sans-serif($fw__light);
      //@include fs__maxi;
      color: $c__muted--dark;
   }
   cite {
      @include fs__base;
      color: $c__neutral--white;
   }
}
