<section class="c-section c-section--bleed c-section--collage">
   <div class="c-section__content--extend">
      <figure class="c-figure c-figure--full js--wow fadeIn">
         <img src="{{ include.img }}" srcset="{{ include.img }} 1x, {{ include.img2x }} 2x" alt="{{ include.imgalt }}">
      </figure>
      <div class="l-flex l-flex--abreast">
         <figure class="c-figure c-figure--full js--wow fadeIn" data-wow-delay=".2s">
            <img src="{{ include.imgsecondary }}" srcset="{{ include.imgsecondary }} 1x, {{ include.imgsecondary2x }} 2x" alt="{{ include.imgsecondaryalt }}">
         </figure>
         <figure class="c-figure c-figure--full js--wow fadeIn" data-wow-delay=".4s">
            <img src="{{ include.imgtertiary }}" srcset="{{ include.imgtertiary }} 1x, {{ include.imgtertiary2x }} 2x" alt="{{ include.imgtertiaryalt }}">
         </figure>
      </div>
   </div>
</section>
