<section class="c-section l-nopadding">
   <article class="c-article">
      <h4>Connect with me</h4>
      <header class="c-article__header js--wow fadeInUp">
         <h1>{{ include.title }}</h1>
      </header>
      <p class="c-article__lede js--wow fadeInUp" data-wow-delay=".25s">I'm currently looking for a position at a small to medium-sized company where I can help solve complex problems, architect flexible design systems and design interfaces. I'm also available for freelance work.</p>
      <a href="/profile/" class="c-cta c-cta--link js--wow fadeInUp" data-wow-delay=".45s"><span>View profile</span></a>
   </article>
   <ul class="c-list c-list--segmented js--wow fadeInUp" data-wow-delay=".45s">
      <li class="c-list__item">
         <a href="mailto:hello@madebymatter.co">
            <h4>Email</h4>
            <p>hello@madebymatter.co</p>
         </a>
      </li>
      <li class="c-list__item">
         <a href="https://twitter.com/jereswinnen">
            <h4>Twitter</h4>
            <p><span>twitter.com/</span>@jereswinnen</p>
         </a>
      </li>
      <li class="c-list__item">
         <a href="https://dribbble.com/jereswinnen">
            <h4>Dribbble</h4>
            <p><span>dribbble.com/</span>jereswinnen</p>
         </a>
      </li>
   </ul>
</section>
