<section class="c-section c-section--bleed c-section--darkest">
   <div class="c-section__content--inner">
      <article class="c-article js--wow fadeInUp">
         <h4>Connect with me</h4>
         <h1>{{ include.title }}</h1>
         <p class="c-article__lede">I'm currently looking for a position at a small to medium-sized company where I can help solve complex problems, architect flexible design systems and design interfaces.</p>
         <a href="/profile/" class="c-cta c-cta--link">View profile</a>
      </article>
      <div class="c-section__content--extend js--wow fadeInDown" data-wow-delay=".25s">
         <ul class="c-list c-list--segmented">
            <li class="c-list__item">
               <h4>Email</h4>
               <a href="mailto:hello@madebymatter.co?subject=I want to work with you!" class="c-cta c-cta--link">hello@madebymatter.co</a>
            </li>
            <li class="c-list__item">
               <h4>Twitter</h4>
               <a href="https://twitter.com/jereswinnen" class="c-cta c-cta--link"><span>twitter.com/</span>@jereswinnen</a>
            </li>
            <li class="c-list__item">
               <h4>Dribbble</h4>
               <a href="https://dribbble.com/jereswinnen" class="c-cta c-cta--link"><span>dribbble.com/</span>jereswinnen</a>
            </li>
         </ul>
      </div>
   </div>
</section>
