<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }} - Digital product design for mobile platforms {% endif %}</title>
   <meta name="description" content="{{ site.description }}">

   <link rel="icon" href="/assets/images/favicons/base--16.png" type="image/png" sizes="16x16">
   <link rel="icon" href="/assets/images/favicons/base--32.png" type="image/png" sizes="32x32">
   <link rel="icon" href="/assets/images/favicons/base--48.png" type="image/png" sizes="48x48">
   <link rel="icon" href="/assets/images/favicons/base--256.png" type="image/png" sizes="256x256">

   <link rel="apple-touch-icon" href="/assets/images/favicons/apple-touch-icon--180.png">

   <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tabs.svg" color="#333333">

   <link rel="stylesheet" href="/assets/styles/global.css" type="text/css">
</head>
<body>
