<header class="o-grid__bleed c-masthead">
   <div class="c-masthead__brand"><a href="/">Jeremy Swinnen</a></div><!--MOBILE ONLY-->
   <nav class="c-nav c-nav--primary" role="navigation">
      <ul class="c-nav__items">
         <li class="c-nav__item"><a href="/">Jeremy Swinnen</a></li>
         <li class="c-nav__item"><a href="/profile/" title="Profile"{% if page.url contains '/profile' %}class=" c-nav__item--selected"{% endif %}>Profile</a></li>
      </ul>
   </nav>
   <nav class="c-nav c-nav--secondary" role="navigation">
      <small>Selected work:</small>
      <ul class="c-nav__items">
            <li class="c-nav__item"><a href="/work/shelf/" title="Shelf"{% if page.url contains '/work/shelf' %}class=" c-nav__item--selected"{% endif %}>Shelf</a></li>
            <li class="c-nav__item"><a href="/work/realo/" title="Realo"{% if page.url contains '/work/realo' %}class=" c-nav__item--selected"{% endif %}>Realo</a></li>
            <li class="c-nav__item"><a href="/work/hocusfocus/" title="Hocus Focus"{% if page.url contains '/work/hocusfocus' %}class=" c-nav__item--selected"{% endif %}>Hocus Focus</a></li>
            <li class="c-nav__item"><a href="/work/diabetik/" title="Diabetik"{% if page.url contains '/work/diabetik' %}class=" c-nav__item--selected"{% endif %}>Diabetik</a></li>
            <li class="c-nav__item"><a href="/work/immobrown/" title="Immo Brown"{% if page.url contains '/work/immobrown' %}class=" c-nav__item--selected"{% endif %}>Immo Brown</a></li>
      </ul>
   </nav>
</header>
<div class="c-masthead-toggle"><!--MOBILE ONLY-->
   <a href="/">
      <svg width="30" height="30" viewBox="0 0 30 30">
         <rect class="c-masthead-toggle__head" width="16" height="2" x="7" y="14"></rect>
         <rect class="c-masthead-toggle__toes" width="16" height="2" x="7" y="14"></rect>
      </svg>
   </a>
</div>
<div class="c-masthead-modal"><!--MOBILE ONLY-->
   <nav class="c-nav" role="navigation">
      <ul class="c-nav__items">
         <li class="c-nav__item"><a href="/profile/" title="Profile"{% if page.url contains '/profile' %}class=" c-nav__item--selected"{% endif %}>Profile</a></li>
         <li class="c-nav__item"><small>Selected work</small></li>
         <li class="c-nav__item"><a href="/work/shelf/" title="Shelf"{% if page.url contains '/work/shelf' %}class=" c-nav__item--selected"{% endif %}>Shelf</a></li>
         <li class="c-nav__item"><a href="/work/realo/" title="Realo"{% if page.url contains '/work/realo' %}class=" c-nav__item--selected"{% endif %}>Realo</a></li>
         <li class="c-nav__item"><a href="/work/hocusfocus/" title="Hocus Focus"{% if page.url contains '/work/hocusfocus' %}class=" c-nav__item--selected"{% endif %}>Hocus Focus</a></li>
         <li class="c-nav__item"><a href="/work/diabetik/" title="Diabetik"{% if page.url contains '/work/diabetik' %}class=" c-nav__item--selected"{% endif %}>Diabetik</a></li>
         <li class="c-nav__item"><a href="/work/immobrown/" title="Immo Brown"{% if page.url contains '/work/immobrown' %}class=" c-nav__item--selected"{% endif %}>Immo Brown</a></li>
      </ul>
   </nav>
</div>