// =======================================================================
// Layout
// =======================================================================

body {
   padding: 0 6vw;
   @media(min-width: $b__medium) {
      padding: 0;
      display: grid;
      grid-column-gap: 2rem;
      grid-template-columns: [bleed-start] 1fr [extend-start] 1fr [content-start] minmax(0, 36.25em) [content-end] 1fr [extend-end] 1fr [bleed-end];
      .c-masthead {
         padding-left: 4vw;
         padding-right: 4vw;
         grid-column: bleed;
      }
      .c-main {
         display: grid;
         grid-column: bleed;
         grid-template-columns: inherit;
         .c-hero {
            grid-column: content;
         }
         .c-section--extend {
            grid-column: extend;
         }
         .c-section--bleed {
            display: grid;
            grid-column: bleed;
            grid-template-columns: inherit;
            .c-section__content--inner {
               grid-column: extend;
               //grid-column: 1/4; //ability to play with assymetry
            }
         }
      }
      .c-footer {
         padding-left: 4vw;
         padding-right: 4vw;
         grid-column: bleed;
      }
   }
   @media(min-width: $b__xlarge) {
      grid-template-columns: [bleed-start] 1fr [extend-start] 1fr [content-start] minmax(0, 40em) [content-end] 1fr [extend-end] 1fr [bleed-end];
   }
}

// Flex modules
.l-flex {
   @media(min-width: $b__medium) {
      display: flex;
      &.l-flex--abreast > * {
         flex: 1 0 50%;
         max-width: 50%;
         &:nth-child(2) {
            //ability to play with colour
         }
      }
      &.l-flex--triad > * {
         flex: 1 0 33.33333%;
         max-width: 33.33333%;
         &:nth-child(2) {
            //ability to play with colour
         }
      }
      &.l-flex--collage {
         flex-direction: column;
         .l-flex--collage__row1, .l-flex--collage__row2 {
            position: relative;
            margin-bottom: 2vw;
            display: flex;
            //max-width: 96%;
            &:last-child {
               margin-bottom: 0;
            }
            .c-item {
               margin-right: 2vw;
               box-sizing: border-box;
               &:nth-child(even) {
                  margin-right: 0;
               }
            }
         }
         .l-flex--collage__row1 {
            left: -5%;
            align-items: flex-end;
            .c-item:nth-child(1) {
               //flex: 1 0 60%;
               //max-width: 60%;
               //background: #ebb537;

            }
            .c-item:nth-child(2) {
               //flex: 1 0 40%;
               //max-width: 40%;
               //background: #4fc39f;
            }
         }
         .l-flex--collage__row2 {
            left: 5%;
            align-self: flex-end;
            .c-item {
               //flex: 1 0 50%;
               //max-width: 50%;
               &:nth-child(1) {
                  //background: #3f46ae;
               }
               &:nth-child(2) {
                  //background: #85d3e0;
               }
            }
         }
      }
      &.l-align--left {

      }
      &.l-align--right {

      }
   }
}
