// =======================================================================
// Layout
// =======================================================================

body {
   padding: 0 6vw;
   @media(min-width: $b__medium) {
      padding: 0;
      display: grid;
      grid-column-gap: 2rem;
      grid-template-columns: [bleed-start] 1fr [extend-start] 1fr [content-start] minmax(0, 36.25em) [content-end] 1fr [extend-end] 1fr [bleed-end];
      .c-masthead {
         padding: 0 4vw;
         grid-column: bleed;
      }
      .c-main {
         display: grid;
         grid-column: bleed;
         grid-template-columns: inherit;
         .c-hero {
            grid-column: content;
         }
         .c-section--extend {
            grid-column: extend;
         }
         .c-section--bleed {
            display: grid;
            grid-column: bleed;
            grid-template-columns: inherit;
            .c-section__content--inner {
               grid-column: extend;
               //grid-column: 1/4; //ability to play with assymetry
            }
         }
      }
      .c-footer {
         padding: 0 4vw;
         grid-column: bleed;
      }
   }
}

// Flex modules
.l-flex {
   @media(min-width: $b__medium) {
      display: flex;
      &.l-flex--abreast > * {
         flex: 1 0 50%;
         max-width: 50%;
         &:nth-child(2) {
            //ability to play with colour
         }
      }
      &.l-flex--triad {
         flex: 1 0 33.33333%;
         max-width: 33.33333%;
         &:nth-child(2) {
            //ability to play with colour
         }
      }
      &.l-align--left {

      }
      &.l-align--right {

      }
   }
}
