// =======================================================================
// Mixins
// =======================================================================

// Font families
@mixin ff--sans-serif($font-weight: normal) {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-weight: $font-weight;
}
@mixin ff--serif($font-weight: normal) {
	font-family: 'Lora', Georgia, serif;
	font-weight: $font-weight;
}
@mixin ff--monospaced($font-weight: normal) {
	font-family: Menlo, monospace;
	font-weight: $font-weight;
}

// Font sizes
@mixin fs__mega {
	font-size: 1.75rem; //28px
	line-height: 1.3;
	letter-spacing: -0.025rem;
	@media(min-width: $b__medium) {
		font-size: 2.25rem; //36px
	}
	@media(min-width: $b__large) {
		font-size: 2.625rem; //42px
	}
}
@mixin fs__maxi {
	font-size: 1.375rem; //22px
	line-height: 1.35;
	@media(min-width: $b__medium) {
		font-size: 1.5rem; //24px
	}
	@media(min-width: $b__large) {
		font-size: 1.875rem; //30px
	}
}
@mixin fs__midi {
	font-size: 1.25rem; //20px
	line-height: 1.4;
	@media(min-width: $b__medium) {
		font-size: 1.375rem; //22px
	}
	@media(min-width: $b__large) {
		font-size: 1.5rem; //24px
	}
}
@mixin fs__base {
	font-size: 1rem; //16px
	@media(min-width: $b__medium) {
		font-size: 1.125rem; //18px
	}
	@media(min-width: $b__large) {
		//font-size: 1.125rem; //18px
		font-size: 1.25rem; //20px
	}
}
@mixin fs__mini {
	font-size: 0.875rem; //14px
	line-height: 1.4;
	@media(min-width: $b__large) {
      font-size: 0.9375rem; //15px
		line-height: 1.5;
   }
}
@mixin fs__micro {
	font-size: 0.75rem; //12px
	line-height: 1.25;
	@media(min-width: $b__large) {
      font-size: 0.8125rem; //13px
		line-height: 1.5;
   }
}

// CSS Gradients
@mixin linearGradient($top, $bottom){
   background: $top;
   background: -moz-linear-gradient(top,  $top 0%, $bottom 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom));
   background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%);
   background: -o-linear-gradient(top,  $top 0%,$bottom 100%);
   background: -ms-linear-gradient(top,  $top 0%,$bottom 100%);
   background: linear-gradient(to bottom,  $top 0%,$bottom 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
}
