// =======================================================================
// Immo Brown theme
// =======================================================================

.t--immobrown {
   ::selection {
      color: $c-neutral--darkest;
   }
	body {
		color: white;
      background: $c-neutral--darkest;
	}
}