// =======================================================================
// Light theme
// =======================================================================

.t--light {
	body {
		color: $c__neutral--dark;
		background: $c__neutral--white;
	}
	a {
		color: $c__neutral--darkest;
	}
	h1, h2 {
		color: $c__neutral--darkest;
	}
	h4, small {
		color: $c__muted--dark;
	}
	code {
		color: $c__faint--dark;
	}
	figcaption p {
		color: $c__neutral--mid;
	}
	.c-branding__svg {
		fill: $c__neutral--darkest;
	}
	.c-nav .c-nav__items .c-nav__item a {
		color: $c__neutral--darkest;
		&:hover {
			color: $c__neutral--mid;
		}
		&.c-nav__item--selected {
			color: $c__neutral--mid;
			border-bottom: 2px solid $c__neutral--lightest;
		}
	}
	.c-list--deliverables .c-list__item {
		color: $c__neutral--mid;
		@media(min-width: $b__medium) {
         &:after {
            color: $c__neutral--lightest;
         }
      }
	}
	.c-list--segmented .c-list__item {
		border: 1px solid $c__neutral--lightest;
		a:hover {
			color: $c__neutral--darkest;
		}
		&:hover {
			background: #f5f5f5;
		}
	}
	.c-figure--contained, .c-figure--full {
		background: #f5f5f5;
	}
}
