// =======================================================================
// Realo theme
// =======================================================================

.t--realo {
   ::selection {
      background: $c-neutral--faintdark;
   }
	body {
		background: $c-realo--lightest;
      .c-article__tite, .c-article__tagline {
         color: $c-realo;
      }
	}
}