// =======================================================================
// Shelf theme
// =======================================================================

.t--shelf {
   ::selection {
      color: $c-neutral--darkest;
   }
	body {
		color: white;
      background: $c-neutral--darkest;
	}
}