// =======================================================================
// Base
// =======================================================================

.l-wrap {
   @include grid-container;
   margin: 0 auto;
   padding: 0 6vw;
   max-width: $u__max-width;
   @media(min-width: $u__max-width) {
      padding: 0;
   }
   &--fluid {
      padding: 0 6vw;
      max-width: none;
   }
   @media(min-width: $b__medium) {
      //padding: 0 5vw;
   }
}
.l-flex {
   display: flex;
}
.l-text--center {
   text-align: center;
}
.l-padded--s {
   padding: 3.75rem 0; //60px 0
   .c-article header {
      margin-bottom: 1.875rem; //30px
   }
}
.l-padded--m {
   padding: 7.5rem 0; //120px 0
   .c-article header {
      margin-bottom: 3.75rem; //60px
   }
}
