// =======================================================================
// Base
// =======================================================================

.l-container {
   @include grid-container;
   margin: 0 auto;
   padding: 0 2vw;
   max-width: $u__max-width;
   @media(min-width: $u__max-width) {
      padding: 0;
   }
   &--fluid {
      padding: 0 2vw;
      max-width: none;
   }
   @media(min-width: $b__medium) {
      padding: 0 5vw;
   }
}
.l-row {
   @include grid-column(12);
}
.l-col-1 {
   @include grid-column(1);
}
.l-col-2 {
   @include grid-column(2);
}
.l-col-3 {
   @include grid-column(3);
}
.l-col-4 {
   @include grid-column(4);
}
.l-col-5 {
   @include grid-column(5);
}
.l-col-6 {
   @include grid-column(6);
}
.l-col-7 {
   @include grid-column(7);
}
.l-col-8 {
   @include grid-column(8);
}
.l-col-9 {
   @include grid-column(9);
}
.l-col-10 {
   @include grid-column(10);
}
.l-col-11 {
   @include grid-column(11);
}
.l-col-12 {
   @include grid-column(12);
}
