// =======================================================================
// Base
// =======================================================================

.l-wrap {
   @include grid-container;
   margin: 0 auto;
   padding: 0 6vw;
   max-width: $u__max-width;
   @media(min-width: $u__max-width) {
      padding: 0;
   }
   &--fluid {
      padding: 0 6vw;
      max-width: none;
   }
}
.l-flush--left {
   float: left;
   margin: 0 4vw 2vh -6vw;
   width: 60%;
}
.l-flush--right {
   float: right;
   margin: 0 -6vw 2vh 4vw;
   width: 60%;
}
.l-flex {
   display: flex;
}
.l-padded--s {
   padding: 3.75rem 0; //60px 0
   .c-article header {
      margin-bottom: 1.875rem; //30px
   }
}
.l-padded--m {
   padding: 7.5rem 0; //120px 0
   .c-article header {
      margin-bottom: 3.75rem; //60px
   }
}

// Bleed
.l-bleed {
   position: relative;
   margin-left: -50vw;
   left: 50%;
   width: 100vw;
}
