// =======================================================================
// Projects Masonry
// =======================================================================

.l-projects {
   display: grid;
   grid-row-gap: 2vh;
   .c-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: $c__neutral--lightest;
      .c-item__title {
         display: inline-block;
         a {
            display: inline;
            &:after {
               margin: 0 0.2rem;
               font-weight: $fw__regular;
               color: $c__neutral--light;
               content: "\2014";
            }
         }
      }
   }
   @media(min-width: $b__large) {
      grid-template-columns: 2fr 2fr;
      grid-column-gap: 1.5vw;
      grid-row-gap: 1.5vw;
   }
}
