@-webkit-keyframes figureScroller {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0); }
  50% {
    -webkit-transform: translate3d(-50%, 0%, 0);
            transform: translate3d(-50%, 0%, 0); }
  100% {
    -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0); } }

@keyframes figureScroller {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0); }
  50% {
    -webkit-transform: translate3d(-50%, 0%, 0);
            transform: translate3d(-50%, 0%, 0); }
  100% {
    -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0); } }

.animated {
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp; }

body .c-hero, body .c-section, body .c-footer {
  padding-left: 6vw;
  padding-right: 6vw; }

@media (min-width: 860px) {
  body {
    display: grid;
    grid-column-gap: 4vw;
    grid-template-columns: [bleed-start] 1fr [extend-start] 1fr [content-start] minmax(0, 34em) [content-end] 1fr [extend-end] 1fr [bleed-end]; }
    body .c-hero, body .c-section, body .c-footer {
      padding-left: 0;
      padding-right: 0; }
    body .c-main {
      display: grid;
      grid-column: bleed;
      grid-template-columns: inherit;
      /*
         .c-section--abreast,
         .c-section--abreastreverse,
         .c-section--triad,
         .c-section .c-section__abreast,
         .c-section .c-section__abreast--reverse,
         .c-section .c-section__triad {
            display: grid;
            grid-column: extend;
            grid-gap: 4vw;
            grid-template-columns: repeat(2, minmax(0, 1fr));
         }
         .c-section--triad, .c-section .c-section__triad {
            grid-template-columns: repeat(3, minmax(0, 1fr));
         }
         .c-section--abreastreverse, .c-section__abreast--reverse {
            *:first-child {
               order: 2;
            }
            *:last-child {
               order: 1;
            }
         }
         */ }
      body .c-main .c-hero, body .c-main .c-section {
        grid-column: content; }
      body .c-main .c-section--extend {
        grid-column: extend; }
      body .c-main .c-section--bleed {
        grid-column: bleed;
        /*
            .c-section__content--inner {
               display: grid;
               grid-column: extend;
               grid-template-columns: inherit;
               //grid-column: 1/4; //ability to play with assymetry
               header {
                  grid-column: bleed;
               }
               .c-article, .c-figure {
                  grid-column: content;
               }
               .c-section__content--extend {
                  grid-column: bleed;
               }
            }
            .c-section__content--extend {
               grid-column: bleed;
            }
            */ }
    body .c-footer {
      grid-column: content; } }

.l-nomarginb {
  margin-bottom: 0 !important; }

.l-nopadding {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

@media (min-width: 860px) {
  .l-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .l-flex .l-flex--abreast .c-figure {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 50%;
              flex: 1 0 50%;
      max-width: 50%; } }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

::-moz-selection {
  background: rgba(255, 255, 255, 0.05); }

::selection {
  background: rgba(255, 255, 255, 0.05); }

body {
  margin: 0;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #ccc;
  background: #0d0d0d; }
  @media (min-width: 860px) {
    body {
      font-size: 1.125rem; } }
  @media (min-width: 1040px) {
    body {
      font-size: 1.25rem; } }

article, aside, footer, header, main, nav, section {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1em;
  font-weight: inherit;
  text-rendering: optimizeLegibility; }

a {
  text-decoration: none;
  background-color: transparent; }
  a:hover, a:active, a:focus {
    outline: 0; }

p {
  margin: 0 0 1.5rem 0; }

b, strong {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: basline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

figure {
  margin: 0; }

img {
  width: 100%;
  border: 0; }

img, object, embed {
  max-width: 100%;
  height: auto; }

ul, ol {
  margin: 0; }

ul {
  list-style: circle; }

ol {
  list-style: decimal; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

legend {
  padding: 0;
  border: 0; }

label {
  display: block; }

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  background: none;
  -webkit-appearance: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  border: 0;
  border-radius: 0;
  overflow: visible;
  cursor: pointer; }

[type="checkbox"], [type="radio"] {
  padding: 0; }

textarea {
  overflow: auto; }

::-webkit-input-placeholder {
  color: #555; }

:-ms-input-placeholder {
  color: #555; }

::placeholder {
  color: #555; }

:focus::-webkit-input-placeholder {
  opacity: 0.5; }

:focus:-ms-input-placeholder {
  opacity: 0.5; }

:focus::placeholder {
  opacity: 0.5; }

:focus {
  outline: none; }

h1 {
  margin-bottom: 1.625rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 1.3;
  letter-spacing: -0.025rem;
  color: #fff; }
  @media (min-width: 860px) {
    h1 {
      font-size: 2.25rem; } }
  @media (min-width: 1040px) {
    h1 {
      font-size: 2.625rem; } }
  h1 strong {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 700; }

h2 {
  margin-bottom: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 1.35;
  color: #fff; }
  @media (min-width: 860px) {
    h2 {
      font-size: 1.5rem;
      letter-spacing: -0.01rem; } }
  @media (min-width: 1040px) {
    h2 {
      font-size: 1.875rem;
      letter-spacing: -0.025rem; } }

h3 {
  margin-bottom: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.4;
  color: currentColor; }
  @media (min-width: 860px) {
    h3 {
      font-size: 1.375rem; } }
  @media (min-width: 1040px) {
    h3 {
      font-size: 1.5rem; } }

h4 {
  margin-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.1rem; }
  @media (min-width: 1040px) {
    h4 {
      font-size: 0.8125rem;
      line-height: 1.5; } }

b {
  font-weight: 600; }

strong {
  font-weight: 700; }

small {
  font-size: 0.75rem;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.5); }
  @media (min-width: 1040px) {
    small {
      font-size: 0.8125rem;
      line-height: 1.5; } }

p {
  margin-bottom: 1.5rem; }

code {
  padding: 0.1875rem;
  font-family: Menlo, monospace;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.25;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 2px; }
  @media (min-width: 1040px) {
    code {
      font-size: 0.8125rem;
      line-height: 1.5; } }

figcaption p {
  font-size: 0.75rem;
  line-height: 1.25;
  color: #555; }
  @media (min-width: 1040px) {
    figcaption p {
      font-size: 0.8125rem;
      line-height: 1.5; } }

blockquote {
  margin: 0; }
  blockquote p {
    color: rgba(13, 13, 13, 0.5);
    hanging-punctuation: first; }
  blockquote cite {
    font-size: 1rem;
    color: #fff; }
    @media (min-width: 860px) {
      blockquote cite {
        font-size: 1.125rem; } }
    @media (min-width: 1040px) {
      blockquote cite {
        font-size: 1.25rem; } }

a {
  font-weight: 600;
  color: #fff;
  text-decoration: underline; }
  a:hover {
    color: currentColor;
    text-decoration: none; }
  a:active {
    color: #999; }

.c-cta {
  display: inline-block;
  padding: 0.75rem 1.15rem;
  text-decoration: none; }
  .c-cta--primary {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #ccc;
    background: #1f1f1f;
    border-radius: 4px; }
    @media (min-width: 1040px) {
      .c-cta--primary {
        font-size: 0.8125rem;
        line-height: 1.5; } }
    .c-cta--primary:hover {
      color: #ccc;
      background: #555; }
    .c-cta--primary:active {
      opacity: .8; }
  .c-cta--link {
    position: relative;
    padding: 0; }
    .c-cta--link:after {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 120%;
      height: 100%;
      content: '';
      background: rgba(0, 0, 0, 0.1);
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
    .c-cta--link:hover:after {
      -webkit-transform: scaleX(1);
              transform: scaleX(1); }

.c-masthead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8vh; }
  .c-masthead .c-branding, .c-masthead .c-nav__item {
    margin-right: 4vw; }
  .c-masthead .c-nav__item:last-child {
    margin-right: 0; }

.c-branding {
  height: 20px; }
  .c-branding .c-branding__svg {
    width: 130px;
    fill: #fff; }
    @media (min-width: 1040px) {
      .c-branding .c-branding__svg {
        width: 140px; } }

.c-nav .c-nav__items {
  padding: 0;
  list-style: none; }
  .c-nav .c-nav__items .c-nav__item {
    display: inline; }
    .c-nav .c-nav__items .c-nav__item a {
      font-size: 0.875rem;
      line-height: 1.4;
      font-weight: 500;
      color: #ccc;
      text-decoration: none; }
      @media (min-width: 1040px) {
        .c-nav .c-nav__items .c-nav__item a {
          font-size: 0.9375rem;
          line-height: 1.5; } }
      .c-nav .c-nav__items .c-nav__item a:hover {
        color: #fff; }
      .c-nav .c-nav__items .c-nav__item a.c-nav__item--selected {
        color: #fff; }

.c-section {
  margin-bottom: 5vh;
  padding: 10vh 0; }
  .c-section--extend {
    margin-bottom: 10vh;
    padding: 0; }
    .c-section--extend:last-child {
      margin-bottom: 0; }
  .c-section--content, .c-section--bleed {
    padding: 0; }
  .c-section--collage .c-figure {
    margin-bottom: 0; }
    .c-section--collage .c-figure img {
      margin-bottom: -0.5rem; }
    .c-section--collage .c-figure:nth-child(1) {
      margin-bottom: 2rem; }
  .c-section--collage .l-flex.l-flex--abreast .c-figure {
    margin-bottom: 0; }
    .c-section--collage .l-flex.l-flex--abreast .c-figure:first-child {
      margin-right: 2rem; }

.c-hero {
  padding: 12vh 0; }
  .c-hero .c-article {
    margin-bottom: 0; }

.c-article {
  margin-bottom: 8vh; }
  .c-article .c-article__header {
    margin-bottom: 4vh; }
  .c-article h2.c-article__lede {
    margin-bottom: 4vh;
    font-size: 1.375rem;
    line-height: 1.35; }
    @media (min-width: 860px) {
      .c-article h2.c-article__lede {
        font-size: 1.5rem;
        letter-spacing: -0.01rem; } }
    @media (min-width: 1040px) {
      .c-article h2.c-article__lede {
        font-size: 1.875rem;
        letter-spacing: -0.025rem; } }
    .c-article h2.c-article__lede strong {
      display: inline; }

.c-footer {
  padding-top: 4vh;
  padding-bottom: 4vh; }

.c-figure {
  margin-bottom: 2vh; }
  .c-figure img {
    margin-bottom: 2vh; }
  .c-figure figcaption {
    text-align: center; }

.c-figure--contained {
  padding: 3rem;
  background: #1f1f1f; }

.c-figure--full {
  margin-bottom: 0;
  background: #1f1f1f; }
  .c-figure--full img {
    margin-bottom: -0.5rem; }

.c-list {
  padding: 0;
  list-style: none; }
  .c-list .c-list__item {
    margin-bottom: 1vh;
    color: #555; }

.c-list--deliverables .c-list__item {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #999; }
  @media (min-width: 1040px) {
    .c-list--deliverables .c-list__item {
      font-size: 0.9375rem;
      line-height: 1.5; } }
  @media (min-width: 860px) {
    .c-list--deliverables .c-list__item {
      display: inline; }
      .c-list--deliverables .c-list__item:after {
        padding: 0 0.5rem;
        content: '\2022';
        color: #333; }
      .c-list--deliverables .c-list__item:last-child:after {
        padding: 0;
        content: ''; } }

.c-list--segmented .c-list__item {
  margin-bottom: 2vh;
  padding: 1.25rem;
  border: 1px solid #1f1f1f;
  border-radius: 6px;
  -webkit-transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .c-list--segmented .c-list__item a {
    text-decoration: none; }
    .c-list--segmented .c-list__item a:hover {
      color: #fff; }
  .c-list--segmented .c-list__item h4 {
    margin-bottom: 1rem; }
  .c-list--segmented .c-list__item p {
    margin-bottom: 0; }
    .c-list--segmented .c-list__item p span {
      font-weight: 400;
      color: #999; }
  .c-list--segmented .c-list__item:hover {
    opacity: 1;
    background: #1f1f1f;
    -webkit-transform: scale(1.03);
            transform: scale(1.03); }
  @media (min-width: 860px) {
    .c-list--segmented .c-list__item {
      opacity: .8; } }

.c-item {
  margin-bottom: 8vh; }
  .c-item .c-figure {
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 8px; }
    .c-item .c-figure img {
      -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .c-item:hover .c-figure img {
    -webkit-transform: scale(1.045);
            transform: scale(1.045); }
  .c-item:active .c-figure img {
    opacity: .85;
    -webkit-transition-duration: .001s;
            transition-duration: .001s; }
  .c-item p a {
    text-decoration: none; }
