@-webkit-keyframes figureScroller {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0); }
  50% {
    -webkit-transform: translate3d(-50%, 0%, 0);
            transform: translate3d(-50%, 0%, 0); }
  100% {
    -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0); } }

@keyframes figureScroller {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0); }
  50% {
    -webkit-transform: translate3d(-50%, 0%, 0);
            transform: translate3d(-50%, 0%, 0); }
  100% {
    -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0); } }

.animated {
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp; }

body .c-masthead, body .c-hero, body .c-section, body .c-footer {
  padding-left: 6vw;
  padding-right: 6vw; }

@media (min-width: 860px) {
  body {
    display: grid;
    grid-column-gap: 4vw;
    grid-template-columns: [bleed-start] 1fr [extend-start] 1fr [content-start] minmax(0, 40em) [content-end] 1fr [extend-end] 1fr [bleed-end]; }
    body .c-masthead, body .c-hero, body .c-section, body .c-footer {
      padding-left: 0;
      padding-right: 0; }
    body .c-masthead, body .c-footer {
      grid-column: extend; }
    body .c-main {
      display: grid;
      grid-column: bleed;
      grid-template-columns: inherit; }
      body .c-main .c-hero {
        grid-column: content; }
      body .c-main .c-section, body .c-main .c-section--extend {
        grid-column: extend; }
      body .c-main .c-section--content {
        grid-column: content; }
      body .c-main .c-section--abreast,
      body .c-main .c-section--abreastreverse,
      body .c-main .c-section--triad,
      body .c-main .c-section .c-section__abreast,
      body .c-main .c-section .c-section__abreast--reverse,
      body .c-main .c-section .c-section__triad {
        display: grid;
        grid-column: extend;
        grid-gap: 4vw;
        grid-template-columns: repeat(2, minmax(0, 1fr)); }
      body .c-main .c-section--triad, body .c-main .c-section .c-section__triad {
        grid-template-columns: repeat(3, minmax(0, 1fr)); }
      body .c-main .c-section--abreastreverse *:first-child, body .c-main .c-section__abreast--reverse *:first-child {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; }
      body .c-main .c-section--abreastreverse *:last-child, body .c-main .c-section__abreast--reverse *:last-child {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; }
      body .c-main .c-section--bleed {
        display: grid;
        grid-column: bleed;
        grid-template-columns: inherit; }
        body .c-main .c-section--bleed .c-section__content--inner {
          display: grid;
          grid-column: extend;
          grid-template-columns: inherit; }
          body .c-main .c-section--bleed .c-section__content--inner header {
            grid-column: bleed; }
          body .c-main .c-section--bleed .c-section__content--inner .c-article, body .c-main .c-section--bleed .c-section__content--inner .c-figure {
            grid-column: content; }
          body .c-main .c-section--bleed .c-section__content--inner .c-section__content--extend {
            grid-column: bleed; }
        body .c-main .c-section--bleed .c-section__content--extend {
          grid-column: bleed; } }

.l-nomarginb {
  margin-bottom: 0 !important; }

@media (min-width: 860px) {
  .l-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .l-flex.l-flex--collage {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .l-flex.l-flex--collage .l-flex--collage__row1, .l-flex.l-flex--collage .l-flex--collage__row2 {
        position: relative;
        margin-bottom: 2vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end; }
        .l-flex.l-flex--collage .l-flex--collage__row1:last-child, .l-flex.l-flex--collage .l-flex--collage__row2:last-child {
          margin-bottom: 0; }
        .l-flex.l-flex--collage .l-flex--collage__row1 .c-figure, .l-flex.l-flex--collage .l-flex--collage__row1 .c-figure img, .l-flex.l-flex--collage .l-flex--collage__row2 .c-figure, .l-flex.l-flex--collage .l-flex--collage__row2 .c-figure img {
          margin-bottom: 0; }
        .l-flex.l-flex--collage .l-flex--collage__row1 .c-item, .l-flex.l-flex--collage .l-flex--collage__row2 .c-item {
          margin-right: 2vw;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          /*a {
                  .c-figure img {
                     transform: translate3d(0, 0, 0);
                     transition: transform .32s ease-in-out;
                  }
                  &:hover .c-figure img {
                     transform: translate3d(0, -10px, 0);
                  }
               }*/ }
          .l-flex.l-flex--collage .l-flex--collage__row1 .c-item:nth-child(even), .l-flex.l-flex--collage .l-flex--collage__row2 .c-item:nth-child(even) {
            margin-right: 0; }
      .l-flex.l-flex--collage .l-flex--collage__row1 {
        left: -6%; }
        .l-flex.l-flex--collage .l-flex--collage__row1 .c-item:nth-child(1) {
          -webkit-box-flex: 1;
              -ms-flex: 1 0 60%;
                  flex: 1 0 60%;
          max-width: 60%; }
      .l-flex.l-flex--collage .l-flex--collage__row2 {
        left: 6%;
        -ms-flex-item-align: end;
            align-self: flex-end;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
        .l-flex.l-flex--collage .l-flex--collage__row2 .c-item:nth-child(2) {
          -webkit-box-flex: 1;
              -ms-flex: 1 0 60%;
                  flex: 1 0 60%;
          max-width: 60%; } }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

::-moz-selection {
  background: rgba(0, 0, 0, 0.05); }

::selection {
  background: rgba(0, 0, 0, 0.05); }

body {
  margin: 0;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333; }
  @media (min-width: 860px) {
    body {
      font-size: 1.125rem; } }
  @media (min-width: 1040px) {
    body {
      font-size: 1.25rem; } }

article, aside, footer, header, main, nav, section {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1em;
  font-weight: inherit;
  text-rendering: optimizeLegibility; }

a {
  text-decoration: none;
  background-color: transparent; }
  a:hover, a:active, a:focus {
    outline: 0; }

p {
  margin: 0 0 1.5rem 0; }

b, strong {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400; }

small {
  font-size: 75%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: basline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

figure {
  margin: 0; }

img {
  width: 100%;
  border: 0; }

img, object, embed {
  max-width: 100%;
  height: auto; }

ul, ol {
  margin: 0; }

ul {
  list-style: circle; }

ol {
  list-style: decimal; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

legend {
  padding: 0;
  border: 0; }

label {
  display: block; }

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  background: none;
  -webkit-appearance: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  border: 0;
  border-radius: 0;
  overflow: visible;
  cursor: pointer; }

[type="checkbox"], [type="radio"] {
  padding: 0; }

textarea {
  overflow: auto; }

::-webkit-input-placeholder {
  color: #555; }

:-ms-input-placeholder {
  color: #555; }

::placeholder {
  color: #555; }

:focus::-webkit-input-placeholder {
  opacity: 0.5; }

:focus:-ms-input-placeholder {
  opacity: 0.5; }

:focus::placeholder {
  opacity: 0.5; }

:focus {
  outline: none; }

h1 {
  margin-bottom: 1.625rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 1.3;
  letter-spacing: -0.025rem;
  color: #111; }
  @media (min-width: 860px) {
    h1 {
      font-size: 2.25rem; } }
  @media (min-width: 1040px) {
    h1 {
      font-size: 2.625rem; } }
  h1 strong {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 700; }

h2 {
  margin-bottom: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 1.35;
  color: #333; }
  @media (min-width: 860px) {
    h2 {
      font-size: 1.5rem;
      letter-spacing: -0.01rem; } }
  @media (min-width: 1040px) {
    h2 {
      font-size: 1.875rem;
      letter-spacing: -0.025rem; } }

h3 {
  margin-bottom: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.4;
  color: currentColor;
  color: #2149b8; }
  @media (min-width: 860px) {
    h3 {
      font-size: 1.375rem; } }
  @media (min-width: 1040px) {
    h3 {
      font-size: 1.5rem; } }

h4 {
  margin-bottom: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.1rem; }
  @media (min-width: 1040px) {
    h4 {
      font-size: 0.8125rem;
      line-height: 1.5; } }

b {
  font-weight: 600; }

strong {
  font-weight: 700; }

small {
  font-size: 0.75rem;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.5); }
  @media (min-width: 1040px) {
    small {
      font-size: 0.8125rem;
      line-height: 1.5; } }

p {
  margin-bottom: 1.5rem; }

code {
  padding: 0.1875rem;
  font-family: Menlo, monospace;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.25;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px; }
  @media (min-width: 1040px) {
    code {
      font-size: 0.8125rem;
      line-height: 1.5; } }

figcaption p {
  font-size: 0.75rem;
  line-height: 1.25;
  color: #555; }
  @media (min-width: 1040px) {
    figcaption p {
      font-size: 0.8125rem;
      line-height: 1.5; } }

blockquote {
  margin: 0; }
  blockquote p {
    color: rgba(0, 0, 0, 0.5);
    hanging-punctuation: first; }
  blockquote cite {
    font-size: 1rem;
    color: #fff; }
    @media (min-width: 860px) {
      blockquote cite {
        font-size: 1.125rem; } }
    @media (min-width: 1040px) {
      blockquote cite {
        font-size: 1.25rem; } }

a {
  font-weight: 600;
  color: #000;
  text-decoration: underline; }
  a:hover {
    color: currentColor;
    text-decoration: none; }
  a:active {
    color: #999; }

.c-cta {
  display: inline-block;
  padding: 0.75rem 1.15rem;
  text-decoration: none; }
  .c-cta--primary {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #eee;
    background: #111;
    border-radius: 4px; }
    @media (min-width: 1040px) {
      .c-cta--primary {
        font-size: 0.8125rem;
        line-height: 1.5; } }
    .c-cta--primary:hover {
      color: #eee;
      background: #555; }
    .c-cta--primary:active {
      opacity: .8; }
  .c-cta--link {
    position: relative;
    padding: 0; }
    .c-cta--link:after {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 120%;
      height: 100%;
      content: '';
      background: rgba(0, 0, 0, 0.1);
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
    .c-cta--link:hover:after {
      -webkit-transform: scaleX(1);
              transform: scaleX(1); }

.c-masthead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5vh;
  padding-bottom: 5vh; }

.c-branding {
  display: inline-block; }
  .c-branding .c-branding__svg {
    width: 130px;
    fill: #111; }
    @media (min-width: 1040px) {
      .c-branding .c-branding__svg {
        width: 140px; } }

.c-nav .c-nav__toggle {
  cursor: pointer; }
  .c-nav .c-nav__toggle svg rect {
    fill: #111; }
  @media (min-width: 860px) {
    .c-nav .c-nav__toggle {
      display: none; } }

.c-nav .c-nav__items {
  display: none; }
  @media (min-width: 860px) {
    .c-nav .c-nav__items {
      display: block;
      padding: 0;
      list-style: none; }
      .c-nav .c-nav__items .c-nav__item {
        display: inline;
        margin-right: 4vw; }
        .c-nav .c-nav__items .c-nav__item a {
          font-size: 0.875rem;
          line-height: 1.4;
          font-weight: 500;
          color: #999;
          text-decoration: none; } }
      @media (min-width: 860px) and (min-width: 1040px) {
        .c-nav .c-nav__items .c-nav__item a {
          font-size: 0.9375rem;
          line-height: 1.5; } }
  @media (min-width: 860px) {
          .c-nav .c-nav__items .c-nav__item a:hover {
            color: #555; }
          .c-nav .c-nav__items .c-nav__item a.c-nav__item--selected {
            font-weight: 600;
            color: #333; }
        .c-nav .c-nav__items .c-nav__item:last-child {
          margin-right: 0; } }
  @media (min-width: 1040px) {
    .c-nav .c-nav__items .c-nav__item {
      margin-right: 2.4vw; } }

.c-nav--mobile {
  display: none; }

.c-section {
  margin-bottom: 5vh;
  padding: 10vh 0; }
  .c-section .c-section__header:first-child, .c-section .c-section__header--centered:first-child {
    margin-bottom: 10vh; }
    @media (min-width: 860px) {
      .c-section .c-section__header:first-child, .c-section .c-section__header--centered:first-child {
        margin-bottom: 6vh; } }
  .c-section .c-section__header--centered {
    text-align: center; }
  .c-section--extend {
    margin-bottom: 10vh;
    padding: 0; }
  .c-section--content {
    margin-bottom: 0; }
  .c-section--bleed, .c-section--stone {
    margin-bottom: 0;
    padding: 10vh 0; }
  .c-section--stone {
    background: #eff0f2; }
  .c-section--realo {
    background: #171982; }
  .c-section--darkest {
    color: rgba(255, 255, 255, 0.5);
    background: #111;
    background: #1c1c1c; }
    .c-section--darkest ::-moz-selection {
      background: rgba(255, 255, 255, 0.05); }
    .c-section--darkest ::selection {
      background: rgba(255, 255, 255, 0.05); }
    .c-section--darkest .c-cta--primary {
      color: #111;
      background: #eee; }
      .c-section--darkest .c-cta--primary:hover {
        color: #eee;
        background: #555; }
    .c-section--darkest .c-cta--link:after {
      background: rgba(255, 255, 255, 0.5); }
    .c-section--darkest a {
      color: #fff; }
      .c-section--darkest a:active {
        color: #999; }
    .c-section--darkest h1, .c-section--darkest h2, .c-section--darkest h3 {
      color: #fff; }
    .c-section--darkest h4 {
      color: #555; }
    .c-section--darkest .c-list--segmented .c-list__item {
      border-bottom: 1px solid #333; }
      .c-section--darkest .c-list--segmented .c-list__item:first-child {
        border-top: 1px solid #333; }

.c-hero {
  padding: 12vh 0; }
  .c-hero .c-article {
    margin-bottom: 0; }

.c-article {
  margin-bottom: 5vh; }
  .c-article .c-article__header {
    margin-bottom: 5vh; }
  .c-article h2.c-article__lede {
    margin-bottom: 2.25rem;
    font-size: 1.375rem;
    line-height: 1.35; }
    @media (min-width: 860px) {
      .c-article h2.c-article__lede {
        font-size: 1.5rem;
        letter-spacing: -0.01rem; } }
    @media (min-width: 1040px) {
      .c-article h2.c-article__lede {
        font-size: 1.875rem;
        letter-spacing: -0.025rem; } }
    .c-article h2.c-article__lede strong {
      display: inline; }
  @media (min-width: 860px) {
    .c-article {
      margin-bottom: 0; } }

.c-section__content--inner .c-article:first-child {
  margin-bottom: 10vh; }

.c-section--bleed .c-section__content--inner .c-article:first-child:not(.c-section--bleed.c-section--darkest .c-section__content--inner .c-article:first-child) {
  margin-bottom: 0; }

.c-figure:not(.c-section--diabetik .c-figure, .c-section--realo .c-figure, .c-section--shelf .c-figure, .c-section--immobrown .c-figure, .c-section--nintendo .c-figure, .c-section--castaway .c-figure) {
  margin-bottom: 2vh; }
  .c-figure:not(.c-section--diabetik .c-figure, .c-section--realo .c-figure, .c-section--shelf .c-figure, .c-section--immobrown .c-figure, .c-section--nintendo .c-figure, .c-section--castaway .c-figure) img {
    margin-bottom: 2vh; }
  .c-figure:not(.c-section--diabetik .c-figure, .c-section--realo .c-figure, .c-section--shelf .c-figure, .c-section--immobrown .c-figure, .c-section--nintendo .c-figure, .c-section--castaway .c-figure) figcaption {
    text-align: center; }

.c-figure--work {
  position: relative;
  padding: 7vw;
  background: #eff0f2; }
  .c-figure--work figcaption {
    display: none;
    position: absolute;
    padding: 3vw;
    left: 0;
    bottom: 0;
    width: 40%;
    background: #eff0f2;
    text-align: left !important;
    z-index: 9999; }
  .c-figure--work img {
    margin-bottom: 0 !important;
    -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .c-figure--work:hover img {
    -webkit-transform: scale(1.025);
            transform: scale(1.025); }
  @media (min-width: 860px) {
    .c-figure--work {
      padding: 5vw; }
      .c-figure--work figcaption {
        display: block; } }

.c-list {
  padding: 0;
  list-style: none; }
  .c-list .c-list__item {
    margin-bottom: 1vh;
    color: #555; }

.c-list--deliverables .c-list__item {
  font-weight: 500;
  color: #999; }
  @media (min-width: 860px) {
    .c-list--deliverables .c-list__item:after {
      padding: 0 0.5rem;
      content: '\2022';
      color: #eee; }
    .c-list--deliverables .c-list__item:last-child:after {
      padding: 0;
      content: ''; } }

.c-list--segmented .c-list__item {
  padding: 1rem 0;
  border-bottom: 1px solid #eee; }
  .c-list--segmented .c-list__item:first-child {
    border-top: 1px solid #eee; }
  .c-list--segmented .c-list__item h4 {
    margin-bottom: 1rem; }
  .c-list--segmented .c-list__item a {
    text-decoration: none; }
    .c-list--segmented .c-list__item a span {
      font-weight: 400;
      color: #999; }

@media (min-width: 860px) {
  .c-list--segmented {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .c-list--segmented .c-list__item {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 33.33333%;
              flex: 0 0 33.33333%;
      border-bottom: none !important; }
      .c-list--segmented .c-list__item:first-child {
        border-top: none !important; } }

.c-item--work {
  margin-bottom: 4vh;
  padding: 6vw;
  background: #eff0f2; }
  .c-item--work .c-figure, .c-item--work .c-figure * {
    margin-bottom: 0; }
  .c-item--work .c-figure img {
    -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .c-item--work:hover .c-figure img {
    -webkit-transform: scale(1.025);
            transform: scale(1.025); }
  @media (min-width: 860px) {
    .c-item--work {
      margin-bottom: 0;
      padding: 3vw; } }
