// =======================================================================
// Debug
// =======================================================================

html:before {
   display: none;
   position: absolute;
   @include ff--sans-serif($fw__regular);
   color: $c__neutral--light;
   @media (min-width: $b__medium) {
      content: '$b__medium';
   }
   @media (min-width: $b__large) {
      content: '$b__large';
   }
   @media (min-width: $b__xlarge) {
      content: '$b__xlarge';
   }
}
.l-container, .l-col-1, .l-col-2, .l-col-3, .l-col-4, .l-col-5, .l-col-6, .l-col-7, .l-col-8, .l-col-9, .l-col-10, .l-col-11, .l-col-12 {
   //background: rgba(0, 0, 0, .1);
}
