// =======================================================================
// Layout
// =======================================================================

html {
   body {
      padding: 0 $u-spacer--m;
      .c-masthead {
         position: sticky;
         top: 0;
      }
   }
   @media(min-width: map-get($breakpoints, medium)) {
      body {
         padding: 0;
      }
      .o-grid {
         display: grid;
         grid-column-gap: 2.5vw;
         grid-template-columns: [bleed-start] 1fr [extend-start] minmax(0, 4.375em) [content-extra-large-start] minmax(0, 4.375em) [content-large-start] minmax(0, 4.375em) [content-small-start] repeat(4, minmax(0, 4.375em)) [content-small-end] minmax(0, 4.375em) [content-large-end] minmax(0, 4.375em) [content-extra-large-end] minmax(0, 4.375em) [extend-end] 1fr [bleed-end];
         .c-masthead {
            grid-column: content-large;
         }
         .c-main {
            display: grid;
            grid-column: bleed;
            grid-template-columns: inherit;
            grid-column-gap: inherit;
            .o-grid__small {
               grid-column: content-small;
            }
            .o-grid__large {
               grid-column: content-large;
            }
            .o-grid__extralarge {
               grid-column: content-extra-large;
            }
            .o-grid__extend {
               grid-column: extend;
            }
            .o-grid__bleed {
               grid-column: bleed;
            }
            .o-grid__abreast {
               display: grid;
               grid-column: extend;
               grid-column-gap: 2.5vw;
               grid-template-columns: repeat(2, 1fr);
            }
            .o-grid__asymmetric {
               display: grid;
               grid-column: extend;
               grid-column-gap: inherit;
               grid-template-columns: 7fr 5fr;
            }
            .o-grid__asymmetric--reverse > *:nth-child(1) {
               order: 2;
            }
         }
         .c-footer {
            grid-column: extend;
         }
      }
   }
   @media(min-width: map-get($breakpoints, large)) {
      .o-grid, .o-grid .c-main .o-grid__abreast {
         grid-column-gap: 3vw;
      }
   }
}