// =======================================================================
// Global Variables & Maps
// =======================================================================

/// Font families
$ff-sans-serif: "NhU", "BlinkMacSystemFont", -apple-system, "Helvetica Neue", Helvetica, sans-serif;
$ff-serif: "RcL", Arial, serif;

/// Spacers
$u-spacer: 5px;
$u-spacer--xs: $u-spacer * 2; //10px
$u-spacer--s: $u-spacer * 3; //15px
$u-spacer--m: $u-spacer * 4; //20px
$u-spacer--l: $u-spacer * 8; //40px
$u-spacer--xl: $u-spacer * 10; //50px
$u-spacer--2xl: $u-spacer * 12; //60px
$u-spacer--3xl: $u-spacer * 16; //80px
$u-spacer--4xl: $u-spacer * 20; //100px

///Radii
$u-radius--xs: 3px;
$u-radius--s: 6px;
$u-radius--m: 10px;
$u-radius--l: 16px;

/// Colours
$c-neutral--faintlight: transparentize($color: #fff, $amount: 0.92);
$c-neutral--lightest: #f0f0f0;
$c-neutral--light: #ccc;
$c-neutral--mid: #adadad;
$c-neutral--darkest: #1a1a1a;
$c-neutral--faintdark: transparentize($color: $c-neutral--darkest, $amount: 0.92);

$c-shelf--lightest: #fadce8;
$c-shelf: #eb4b89;   
$c-realo--lightest: #d9defc;
$c-realo: #556dfa;
$c-hocusfocus--lightest: #e2dcfa;
$c-hocusfocus: #947bff;
$c-diabetik--lightest: #dcf9fa;
$c-diabetik: #55c2c5;
$c-immobrown--lightest: #faeedc;
$c-immobrown: #ecb968;

/// Transitions
//$t-bezier: cubic-bezier(.455, .03, .515, .955);
$t-bezier: cubic-bezier(.165, .84, .44, 1);

/// Shadows
$s-layerone: 0 0 2px transparentize($color: $c-neutral--darkest, $amount: 0.9), 0 6px 15px transparentize($color: $c-neutral--darkest, $amount: 0.9);
$s-layertwo: 0 5px 15px transparentize($color: $c-neutral--darkest, $amount: 0.9), 0 15px 35px transparentize($color: $c-neutral--darkest, $amount: 0.93);

/// Maps
// Breakpoints
$breakpoints: (
   //small: 360px,
   medium: 700px,
   large: 1040px,
   xlarge: 1280px
);
// Font sizes
$body-font-sizes: (
   null: (1rem, 1.5), //16px
   medium: (1.25rem, 1.5) // 20px
);
$small-font-sizes: (
   null: (0.875rem, 1.5) //14px
);
$h1-font-sizes: (
   null: (1.5rem, 1.35), //24px
   medium: (2.625rem, 1.3) //42px
);
$h2-font-sizes: (
   null: (1.125rem, 1.5), //18px
   medium: (1.25rem, 1.5) //20px
);
$h3-font-sizes: (
   null: (0.75rem, 1.5), //12px   
   medium: (0.875rem, 1.5) //14px
);
