// =======================================================================
// Global Variables & Maps
// =======================================================================

/// Font families
$ff-sans-serif: "JS-Neue", "BlinkMacSystemFont", -apple-system, "Helvetica Neue", Helvetica, sans-serif;
$ff-monospace: Monaco, monospace;

/// Spacers
$u-spacer: 5px;
$u-spacer--s: $u-spacer * 2;
$u-spacer--m: $u-spacer * 3;
$u-spacer--l: $u-spacer * 4;
$u-spacer--xl: $u-spacer * 6;
$u-spacer--xxl: $u-spacer * 9;
$u-spacer--xxxl: $u-spacer * 12;

/// Colours
$c-lightest: #fcfaf5;
$c-darkest: #0e0e22;
$c-mid: #84838c;
$c-text: #000;
$c-meta: #999;
$c-accent: #f3ec55;
$c-accent--teal: #097874;
$c-accent--pink: #ce8fb7;

/// Maps
// Breakpoints
$breakpoints: (
   //small: 360px,
   medium: 700px,
   large: 1040px,
   xlarge: 1280px
);
// Font sizes
$body-font-sizes: (
   null: (1rem, 1.5), //16px
   medium: (1.125rem, 1.6) // 18px
);
$small-font-sizes: (
   null: (0.875rem, 1.5), //14px
   large: (1rem, 1.5) // 16px
);
$h1-font-sizes: (
   null: (2rem, 1.5), //32px
   medium: (2.25rem, 1.5) //36px
);
$h2-font-sizes: (
   null: (1.5rem, 2), //24px
   medium: (1.5rem, 2) //24px
);
$h3-font-sizes: (
   null: (1.25rem, 1.5) //20px
);
$small-font-sizes: (
   null: (0.875rem, 1.5), //14px
   medium: (1rem, 1.5) //16px
);
