// =======================================================================
// Global Variables & Maps
// =======================================================================

/// Font families
$ff-sans-serif: "NhU", "BlinkMacSystemFont", -apple-system, "Helvetica Neue", Helvetica, sans-serif;
$ff-serif: "RcL", Arial, serif;

/// Spacers
$u-spacer: 6px;
$u-spacer--xs: $u-spacer / 2;
$u-spacer--s: $u-spacer * 2;
$u-spacer--m: $u-spacer * 3;
$u-spacer--l: $u-spacer * 4;
$u-spacer--xl: $u-spacer * 6;
$u-spacer--xxl: $u-spacer * 9;
$u-spacer--xxxl: $u-spacer * 12;

/// Colours
$c-lightest: #f7f7f7;
$c-mid: #999;
$c-darkest: #0d0d0d;
$c-accent: #fdf99e;
$c-accent--teal: #097874;
$c-accent--pink: #ce8fb7;

/// Maps
// Breakpoints
$breakpoints: (
   //small: 360px,
   medium: 700px,
   large: 1040px,
   xlarge: 1280px
);
// Font sizes
$body-font-sizes: (
   null: (1rem, 1.5), //16px
   medium: (1.25rem, 1.5) // 20px
);
$small-font-sizes: (
   null: (0.875rem, 1.5) //14px
);
$h1-font-sizes: (
   null: (1.5rem, 1.35), //24px
   medium: (2.625rem, 1.3) //42px
);
$h2-font-sizes: (
   null: (1.125rem, 1.5), //18px
   medium: (1.375rem, 1.5) //22px
);
$h3-font-sizes: (
   null: (0.875rem, 1.5) //14px
);
