// =======================================================================
// Webfonts
// =======================================================================

@font-face {
   font-family: NhU;
   font-weight: normal;
   font-style: normal;
   src:
     url("/assets/fonts/NhU-rg-2018-07-04.woff2") format("woff2"),
     url("/assets/fonts/NhU-rg-2018-07-04.woff") format("woff");
}
@font-face {
   font-family: NhU;
   font-weight: bold;
   font-style: normal;
   src:
     url("/assets/fonts/NhU-bd-2018-07-04.woff2") format("woff2"),
     url("/assets/fonts/NhU-bd-2018-07-04.woff") format("woff");
}
@font-face {
   font-family: RcL;
   font-style: normal;
   src:
     url("/assets/fonts/RcL-md-2018-07-13.woff2") format("woff2"),
     url("/assets/fonts/RcL-md-2018-07-13.woff") format("woff");
}