{% include html-header.html %}
<main class="c-main">
   <section class="c-hero">
      {% include site-header.html %}
      <article class="c-article js--wow fadeInUp">
         <header class="c-article__header">
            <h1><strong>Matter</strong> is the online playground of digital product designer, <strong>Jeremy Swinnen</strong>.</h1>
         </header>
         {{ content }}
      </article>
   </section>
   <section class="c-section c-section--extend">
      <header class="c-section__header">
         <h2><strong>Skills and services.</strong> What I can help you with.</h2>
      </header>
   </section>
   {% include connect-with-me.html title="Let's work together and make something <strong>great</strong>!" %}
</main>
{% include site-footer.html %}
{% include html-footer.html %}
