{% include html-header.html %}
<main class="c-main">
   <section class="c-hero">
      {% include site-header.html %}
      <article class="c-article js--wow fadeInUp">
         <header class="c-article__header">
            <h1>Thoughts and opinions.</h1>
         </header>
      </article>
   </section>
   <section class="c-section c-section--content">
      <article class="c-article js--wow fadeInUp">
         {{ content }}
      </article>
   </section>
</main>
{% include site-footer.html %}
{% include html-footer.html %}
