{% include html-header.html
   theme="t--light"
%}
<main class="c-main">
   <section class="c-hero">
      {% include site-header.html %}
      <article class="c-article">
         <header class="c-article__header js--wow fadeInUp">
            <h1><strong>{{ page.title | capitalize }}.</strong> {{ page.tagline }}</h1>
         </header>
         <h2 class="c-article__lede js--wow fadeInUp" data-wow-delay=".2s">{{ page.lede }}</h2>
         <!--
         <a href="#modal--diabetik" rel="modal:open" class="c-cta c-cta--primary">Open modal</a>
         -->
         <ul class="c-list c-list--deliverables js--wow fadeInUp" data-wow-delay=".4s">
            {% for item in page.deliverables %}
            <li class="c-list__item">{{ item }}</li>
            {% endfor %}
         </ul>
      </article>
   </section>
   {% include case-section-bleed-collage.html
      img="https://res.cloudinary.com/matter/image/upload/v1508588061/work/diabetik/case__diabetik--cover.png"
      img2x="https://res.cloudinary.com/matter/image/upload/v1508588062/work/diabetik/case__diabetik--cover_2x.png"
      imgalt="iPhone and iPad side by side"

      imgsecondary="https://res.cloudinary.com/matter/image/upload/v1508588572/work/diabetik/case__diabetik--heroleft.png"
      imgsecondary2x="https://res.cloudinary.com/matter/image/upload/v1508588572/work/diabetik/case__diabetik--heroleft_2x.png"
      imgsecondaryalt="Side menu close-up on iPhone"

      imgtertiary="https://res.cloudinary.com/matter/image/upload/v1508588572/work/diabetik/case__diabetik--heroright.png"
      imgtertiary2x="https://res.cloudinary.com/matter/image/upload/v1508588572/work/diabetik/case__diabetik--heroright_2x.png"
      imgtertiaryalt="Journal close-up on iPad"
   %}
   <section class="c-section c-section--content">
      <article class="c-article js--wow fadeInUp">
         {{ content }}
      </article>
   </section>
   <section class="c-section c-section--extend">
      {% include case-figure.html
         img="https://res.cloudinary.com/matter/image/upload/v1508587795/work/diabetik/case__diabetik--phoneslideout.png"
         img2x="https://res.cloudinary.com/matter/image/upload/v1508587796/work/diabetik/case__diabetik--phoneslideout_2x.png"
         imgalt="Side menu on iPhone"
         caption="Having a side menu means the user can access important views of the app at any time."
      %}
      {% include case-figure.html
         img="https://res.cloudinary.com/matter/image/upload/v1508587796/work/diabetik/case__diabetik--tabletslideout.png"
         img2x="https://res.cloudinary.com/matter/image/upload/v1508587796/work/diabetik/case__diabetik--tabletslideout_2x.png"
         imgalt="Side menu on iPad"
         caption="The app has an elegant and clean look, even on iPad."
      %}
      {% include case-figure.html
         img="https://res.cloudinary.com/matter/image/upload/v1508587682/work/diabetik/case__diabetik--phoneaddentry.png"
         img2x="https://res.cloudinary.com/matter/image/upload/v1508587682/work/diabetik/case__diabetik--phoneaddentry_2x.png"
         imgalt="Add entry on iPhone"
         caption="Adding entries is an essential part of Diabetik. With fields that are pre-filled based on the time of day and type of entry, we make sure adding entries is as convenient as possible."
      %}
      {% include case-figure.html
         img="https://res.cloudinary.com/matter/image/upload/v1508590583/work/diabetik/case__diabetik--tabletjournal.png"
         img2x="https://res.cloudinary.com/matter/image/upload/v1508590584/work/diabetik/case__diabetik--tabletjournal_2x.png"
         imgalt="Journal on iPad"
         caption="With the bigger screen of iPad, we give the user a nice visual breakdown in a calender-like format."
      %}
      {% include case-figure.html
         img="https://res.cloudinary.com/matter/image/upload/v1508590584/work/diabetik/case__diabetik--tablettimeline.png"
         img2x="https://res.cloudinary.com/matter/image/upload/v1508590584/work/diabetik/case__diabetik--tablettimeline_2x.png"
         imgalt="Timeline on iPad"
         caption="The user can view multiple days at a time."
      %}
      {% include case-figure.html
         img="https://res.cloudinary.com/matter/image/upload/v1508590904/work/diabetik/case__diabetik--tabletaddentry.png"
         img2x="https://res.cloudinary.com/matter/image/upload/v1508590904/work/diabetik/case__diabetik--tabletaddentry_2x.png"
         imgalt="Add entry on iPad"
      %}
   </section>
   <section class="c-section c-section--bleed" style="display:none;">
      <div class="c-section__content--inner">
         <article class="c-article js--wow fadeInUp">
            {{ page.sections['design'] | markdownify }}
         </article>
      </div>
   </section>
   {% include connect-with-me.html title="Like what you just saw? Let's work together and make something <strong>amazing</strong>!" %}
   <!--experimental modal
   <section id="modal--diabetik" class="c-modal">
      <section class="c-modal__content">
         <article class="c-article">
            <header class="c-article__header">
               <h1><strong>Display</strong></h1>
               <h2 class="c-article__lede">New 4.7‑inch and 5.5‑inch Retina HD displays.</h2>
               <a href="#close" rel="modal:close" class="c-cta c-cta--primary">Close modal</a>
            </header>
         </article>
      </section>
   </section>
   -->
</main>
{% include site-footer.html %}
{% include html-footer.html %}
