{% include html-header.html %}
<main class="c-main">
   <section class="c-hero">
      {% include site-header.html %}
      <article class="c-article">
         <header class="c-article__header js--wow fadeInUp">
            <h1><strong>{{ page.title | capitalize }}.</strong> {{ page.tagline }}</h1>
         </header>
         <h2 class="c-article__lede js--wow fadeInUp" data-wow-delay=".2s">{{ page.lede }}</h2>
         <ul class="c-list c-list--deliverables js--wow fadeInUp" data-wow-delay=".4s">
            {% for item in page.deliverables %}
            <li class="c-list__item">{{ item }}</li>
            {% endfor %}
         </ul>
      </article>
   </section>
   {% include case-section-bleed.html
      img="/assets/images/artwork/shelf/home__cover.png"
      img2x="/assets/images/artwork/shelf/home__cover@2x.png"
      imgalt="This is the alt text for the provided image"
   %}
   <section class="c-section c-section--content">
      <article class="c-article js--wow fadeInUp">
         {{ content }}
      </article>
   </section>
   <section class="c-section c-section--extend">
      {% include case-figure.html
         img="/assets/images/artwork/diabetik/home__cover.png"
         img2x="/assets/images/artwork/diabetik/home__cover@2x.png"
         imgalt="This is the alt text for when the image couldn't be retrieved from the server"
         caption="This is a caption for the provided image."
      %}
      {% include case-figure.html
         img="/assets/images/artwork/diabetik/home__cover.png"
         img2x="/assets/images/artwork/diabetik/home__cover@2x.png"
         imgalt="This is the alt text for when the image couldn't be retrieved from the server"
         caption="This is a caption for the provided image."
      %}
   </section>
   <section class="c-section c-section--bleed" style="display:none;">
      <div class="c-section__content--inner">
         <article class="c-article js--wow fadeInUp">
            {{ page.sections['design'] | markdownify }}
         </article>
      </div>
   </section>
   {% include connect-with-me.html title="Like what you just saw? Let's work together and make something <strong>amazing</strong>!" %}
</main>
{% include site-footer.html %}
{% include html-footer.html %}
