{% include html-header.html %}
{% include site-header.html %}
<main class="c-main">
   <section class="c-hero">
      <article class="c-article">
         <header class="c-article__header js--wow fadeInUp">
            <h1><strong>Matter</strong> is the online playground of digital product designer, <strong>Jeremy Swinnen</strong>.</h1>
         </header>
         {{ content }}
      </article>
   </section>
   <section class="c-section c-section--bleed">
      <div class="c-section__content--inner">
         <header class="c-section__header">
            <h2><strong>Skills and services.</strong> What I can help you with.</h2>
         </header>
      </div>
      <div class="c-section__abreast">
         <article class="c-article">
            <h3>Digital Product Design</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ratione suscipit doloremque recusandae delectus veritatis facere natus necessitatibus molestiae, dignissimos, perferendis voluptas, dolorem voluptatum consectetur autem ut nisi quia, neque.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At vel pariatur fugiat. Rem, aperiam tempora obcaecati totam id culpa! Magnam earum, ad, explicabo at eum labore consectetur ipsa blanditiis voluptatibus!</p>
         </article>
         <article class="c-article">
            <h3>Responsive Web Design &amp; Development</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ratione suscipit doloremque recusandae delectus veritatis facere natus necessitatibus molestiae, dignissimos, perferendis voluptas, dolorem voluptatum consectetur autem ut nisi quia, neque.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At vel pariatur fugiat. Rem, aperiam tempora obcaecati totam id culpa! Magnam earum, ad, explicabo at eum labore consectetur ipsa blanditiis voluptatibus!</p>
         </article>
      </div>
   </section>
   <section class="c-section c-section--extend">
      <figure class="c-figure c-figure--work"><a href="#">
         <figcaption>
            <h4>Featured project</h4>
            <h2><strong>Realo.</strong> Building a Next Generation Real Estate Platform.</h2>
         </figcaption>
         <img src="/assets/images/artwork/realo/homedetail__phonemacbook.png" srcset="/assets/images/artwork/realo/homedetail__phonemacbook.png 1x, /assets/images/artwork/realo/homedetail__phonemacbook@2x.png 2x" alt="Realo"></a>
      </figure>
   </section>
   <section class="c-section c-section--bleed c-section--stone">
      <div class="c-section__content--inner">
         <header class="c-section__header">
            <h2><strong>Manifesto.</strong> 6 things I stand by in my work.</h2>
         </header>
      </div>
      <div class="c-section--abreast">
         <div class="c-item">
            <h3>User Interface Design</h3>
            <p>Do you have a great idea for an iOS or Android app or does your existing app requires a visual overhaul? With a sense for great and usable design, I can give your app the interface it deserves.</p>
         </div>
         <div class="c-item">
            <h3>User Interface Design</h3>
            <p>Do you have a great idea for an iOS or Android app or does your existing app requires a visual overhaul? With a sense for great and usable design, I can give your app the interface it deserves.</p>
         </div>
         <div class="c-item">
            <h3>User Interface Design</h3>
            <p>Do you have a great idea for an iOS or Android app or does your existing app requires a visual overhaul? With a sense for great and usable design, I can give your app the interface it deserves.</p>
         </div>
         <div class="c-item">
            <h3>User Interface Design</h3>
            <p>Do you have a great idea for an iOS or Android app or does your existing app requires a visual overhaul? With a sense for great and usable design, I can give your app the interface it deserves.</p>
         </div>
      </div>
   </section>
   {% include connect-with-me.html title="Like what you just saw? Let's work together and make something <strong>great</strong>!" %}
</main>
<!--{% include site-footer.html %}-->
{% include html-footer.html %}
