{% include html-header.html
   theme="t--realo"   
%}
{% include site-header.html %}
<main class="o-grid o-grid--inherit o-grid__bleed c-main">
   <article class="o-grid o-grid--inherit o-grid__bleed c-article">
      <header class="o-grid__bleed c-article__header">
         <!--<h3 class="c-article__title">Realo</h3>-->
         <h1 class="c-article__tagline">Building a real estate platform for the next generation of homeowners.</h1>
      </header>
   </article>
   <section class="o-grid__fullbleed c-section c-section--scroller">
      <figure class="c-figure">
         <img src="/assets/images/artwork/realo/case__realo--singlephonehome.png" srcset="/assets/images/artwork/realo/case__realo--singlephonehome.png 1x, /assets/images/artwork/realo/case__realo--singlephonehome@2x.png 2x" alt="View a home">
      </figure>
      <figure class="c-figure">
         <img src="/assets/images/artwork/realo/case__realo--singletabletsearch.png" srcset="/assets/images/artwork/realo/case__realo--singletabletsearch.png 1x, /assets/images/artwork/realo/case__realo--singletabletsearch@2x.png 2x" alt="Search for a home">
      </figure>
   </section>
   <section class="c-section">
      <article class="o-grid__half c-article">
         <div class="c-article__body">
            {{ content }}
         </div>
         <dl class="c-article__aside">
            <dt><small><b>Deliverables</b></small></dt>
            <dd><small>Design system, responsive web design, marketing, iconography, iOS app</small></dd>
            <dt><small><b>Period</b></small></dt>
            <dd><small>02/2014 - 12/2014</small></dd>
            <dt><small><b>Visit</b></small></dt>
            <dd><small><a href="#">www.realo.com</a></small></dd>
         </dl>
      </article>
   </section>
   <section class="o-grid o-grid--offset o-grid__bleed c-section c-section--gallery">
      <div class="c-section__item">
         <figure class="c-figure c-figure--bg">
            <img src="https://res.cloudinary.com/matter/image/upload/v1508592459/work/realo/case__realo--cover.png" srcset="https://res.cloudinary.com/matter/image/upload/v1508592459/work/realo/case__realo--cover.png 1x, https://res.cloudinary.com/matter/image/upload/v1508592459/work/realo/case__realo--cover_2x.png 2x" alt="Mobile-first design approach">
            <figcaption>
               <small>Realo has been built with a mobile-first approach in mind. Designing with this mindset ensures the design works on smartphones, tablets and destops.</small>
            </figcaption>
         </figure>
      </div>
      <div class="c-section__item">
         <figure class="c-figure c-figure--bg">
            <img src="https://res.cloudinary.com/matter/image/upload/v1508686594/work/realo/case__realo--responsivesearchduo.png" srcset="https://res.cloudinary.com/matter/image/upload/v1508686594/work/realo/case__realo--responsivesearchduo.png 1x, https://res.cloudinary.com/matter/image/upload/v1508686595/work/realo/case__realo--responsivesearchduo_2x.png 2x" alt="Clear typesetting and attractive iconography">
            <figcaption>
               <small>Clear typesetting and attractive iconography make the website more legible and easy to use.</small>
            </figcaption>
         </figure>
      </div>
      <div class="c-section__item">
         <figure class="c-figure c-figure--bg">
            <img src="https://images.unsplash.com/photo-1518640467707-6811f4a6ab73?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5e13608bf6071802b8df2c54c5205213&auto=format&fit=crop&w=2600&q=80" alt="">
            <figcaption>
               <small>This is some kind of figcaption</small>
            </figcaption>
         </figure>
      </div>
      <div class="c-section__item">
         <figure class="c-figure c-figure--bg">
            <img src="https://images.unsplash.com/photo-1510270535907-dce35a12eb41?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=44000c71e9767d43556a5d50f545450e&auto=format&fit=crop&w=3750&q=80" alt="">
            <figcaption>
               <small>This is some kind of figcaption</small>
            </figcaption>
         </figure>
      </div>
   </section>
   <section class="o-grid__bleed c-section c-section--quote">
      <blockquote>
         <p class="c-blockquote__text">&ldquo;Working with Jeremy has been a real pleasure. His attention to details and commitment to deliver outstanding work is inspiring.&rdquo;</p>
      </blockquote>
      <cite class="c-blockquote__author"><small>&mdash;Nial Giacomelli</small></cite>
   </section>
   <section class="o-grid__fullbleed c-section c-section--faintdark">
      <article class="c-article">
         <header class="c-article__header">
            <h3>Work with me</h3>
            <h2 class="c-article__lede">Interested in working together with me?</h2>
         </header>
         <div class="c-article__body">
            {{ content | truncate: 320 }}
         </div>
         <button class="c-button">Work with me</button>
      </article>
   </section>
</main>
{% include site-footer.html %}
{% include html-footer.html %}