{% include html-header.html %}
<main class="c-main">
   <section class="c-hero">
      {% include site-header.html %}
      <article class="c-article">
         <header class="c-article__header js--wow fadeInUp">
            <h1><strong>{{ page.title }}.</strong> {{ page.tagline }}</h1>
         </header>
         <h2 class="c-article__lede js--wow fadeInUp" data-wow-delay=".2s">{{ page.lede }}</h2>
         <ul class="c-list c-list--deliverables js--wow fadeInUp" data-wow-delay=".4s">
            {% for item in page.deliverables %}
            <li class="c-list__item">{{ item }}</li>
            {% endfor %}
         </ul>
      </article>
   </section>
   {% include case-section-bleed.html
      img="https://res.cloudinary.com/matter/image/upload/v1508835976/work/nintendo/case__nintendo--cover.png"
      img2x="https://res.cloudinary.com/matter/image/upload/v1508835976/work/nintendo/case__nintendo--cover_2x.png"
      imgalt="Nintendo Switch Companion"
   %}
   <section class="c-section c-section--content">
      <article class="c-article js--wow fadeInUp">
         {{ content }}
      </article>
   </section>
   <section class="c-section c-section--extend">
      {% include case-figure.html
         img="https://res.cloudinary.com/matter/image/upload/v1508836507/work/nintendo/case__nintendo--phonemynintendo.png"
         img2x="https://res.cloudinary.com/matter/image/upload/v1508836508/work/nintendo/case__nintendo--phonemynintendo_2x.png"
         imgalt="Overview and My Nintendo"
      %}
      {% include case-figure.html
         img="https://res.cloudinary.com/matter/image/upload/v1508836507/work/nintendo/case__nintendo--phoneeshop.png"
         img2x="https://res.cloudinary.com/matter/image/upload/v1508836508/work/nintendo/case__nintendo--phoneeshop_2x.png"
         imgalt="eShop and eShop Game Page"
      %}
   </section>
   <section class="c-section c-section--bleed" style="display:none;">
      <div class="c-section__content--inner">
         <article class="c-article js--wow fadeInUp">
            {{ page.sections['design'] | markdownify }}
         </article>
      </div>
   </section>
   {% include connect-with-me.html title="Like what you just saw? Let's work together and make something <strong>great</strong>!" %}
</main>
{% include site-footer.html %}
{% include html-footer.html %}
