{% include html-header.html %}
{% include site-header.html %}
<main class="c-main">
   <section class="c-hero">
      <article class="c-article">
         <header class="c-article__header js--wow fadeInUp">
            <h1><strong>{{ page.title | capitalize }}.</strong> {{ page.tagline }}</h1>
         </header>
         <h2 class="c-article__lede">{{ page.lede }}</h2>
         <ul class="l-flex c-list c-list--deliverables js--wow fadeInUp">
            {% for item in page.deliverables %}
            <li class="c-list__item">{{ item }}</li>
            {% endfor %}
         </ul>
      </article>
   </section>
   {% include case-section-bleed-hero.html
      img="https://images.unsplash.com/photo-1473269276654-ec06ffa8b38e?dpr=1&auto=compress,format&fit=crop&w=3750&h=&q=80&cs=tinysrgb&crop="
      img2x="https://images.unsplash.com/photo-1473269276654-ec06ffa8b38e?dpr=1&auto=compress,format&fit=crop&w=3750&h=&q=80&cs=tinysrgb&crop="
      imgalt="This is the alt text for the provided image"
   %}
   <section class="c-section c-section--content">
      <article class="c-article js--wow fadeInUp">
         {{ content }}
      </article>
   </section>
   {% include case-section-bleed-stone.html
      img="/assets/images/artwork/shelf/collage__quicklook.png"
      img2x="/assets/images/artwork/shelf/collage__quicklook@2x.png"
      imgalt="This is the alt text for the provided image"
   %}
   <section class="c-section c-section--bleed c-section--tone">
      <div class="c-section__content--inner">
         <article class="c-article js--wow fadeInUp">
            {{ page.sections['design'] | markdownify }}
         </article>
      </div>
   </section>
   {% include connect-with-me.html title="Like what you just saw? Let's work together and make something <strong>great</strong>!" %}
</main>
<!--{% include site-footer.html %}-->
{% include html-footer.html %}
