{% include html-header.html %}
{% include site-header.html %}
<main class="o-grid o-grid--inherit o-grid__bleed c-main">
   <article class="o-grid__bleed c-article">
      <header class="c-article__header">
         <h2 class="c-article__title">Realo</h2>
         <h1 class="c-article__tagline">Building a real estate platform for the next generation of home owners.</h1>
      </header>
   </article>
   <section class="o-grid__fullbleed c-section c-section--scroller">
      <figure class="c-figure">
         <img src="https://images.unsplash.com/photo-1530795403846-b1cd783487ff?ixlib=rb-0.3.5&s=59c950fede02fea47cccf952fa9c6386&auto=format&fit=crop&w=1841&q=80" alt="">
      </figure>
      <figure class="c-figure">
         <img src="https://images.unsplash.com/photo-1526941461373-31d4ba25291a?ixlib=rb-0.3.5&s=0764d906dcfbbfaef7faf6a4e2d13125&auto=format&fit=crop&w=3761&q=80" alt="">
      </figure>
      <figure class="c-figure">
         <img src="https://images.unsplash.com/photo-1528640454247-a0572df8c0f4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=255fbc23bfb02e48c820e70829d37c6e&auto=format&fit=crop&w=1860&q=80" alt="">
      </figure>
   </section>
</main>
{% include site-footer.html %}
{% include html-footer.html %}