{% include html-header.html %}
<main class="c-main">
   <section class="c-hero">
      {% include site-header.html %}
      <article class="c-article">
         <header class="c-article__header js--wow fadeInUp">
            <h1><strong>{{ page.title | capitalize }}.</strong> {{ page.tagline }}</h1>
         </header>
         <h2 class="c-article__lede js--wow fadeInUp" data-wow-delay=".2s">{{ page.lede }}</h2>
         <ul class="c-list c-list--deliverables js--wow fadeInUp" data-wow-delay=".4s">
            {% for item in page.deliverables %}
            <li class="c-list__item">{{ item }}</li>
            {% endfor %}
         </ul>
      </article>
   </section>
   {% include case-section-bleed.html
      img="https://res.cloudinary.com/matter/image/upload/v1509009836/work/castaway/case__castaway--cover.png"
      img2x="https://res.cloudinary.com/matter/image/upload/v1509009836/work/castaway/case__castaway--cover_2x.png"
      imgalt="Castaway for macOS"
   %}
   <section class="c-section c-section--content">
      <article class="c-article js--wow fadeInUp">
         {{ content }}
      </article>
   </section>
   <section class="c-section c-section--extend">
      {% include case-figure.html
         img="https://res.cloudinary.com/matter/image/upload/v1509009835/work/castaway/case__castaway--podcasts.png"
         img2x="https://res.cloudinary.com/matter/image/upload/v1509009835/work/castaway/case__castaway--podcasts_2x.png"
         imgalt="Podcasts"
         caption="Viewing podcasts doesn't get much prettier than this."
      %}
      {% include case-figure.html
         img="https://res.cloudinary.com/matter/image/upload/v1509009835/work/castaway/case__castaway--podcastdetail.png"
         img2x="https://res.cloudinary.com/matter/image/upload/v1509009835/work/castaway/case__castaway--podcastdetail_2x.png"
         imgalt="Podcast detail"
         caption="When viewing a podcast, the app lists all the episodes along with information about the podcast."
      %}
      {% include case-figure.html
         img="https://res.cloudinary.com/matter/image/upload/v1509009835/work/castaway/case__castaway--discover.png"
         img2x="https://res.cloudinary.com/matter/image/upload/v1509009836/work/castaway/case__castaway--discover_2x.png"
         imgalt="Discover podcasts"
         caption="The 'Discover' section is laid out almost like an 'App Store' of some sorts with clear imagery and the ability to browse based on category."
      %}
      {% include case-figure.html
         img="https://res.cloudinary.com/matter/image/upload/v1509009836/work/castaway/case__castaway--addpodcast.png"
         img2x="https://res.cloudinary.com/matter/image/upload/v1509009840/work/castaway/case__castaway--addpodcast_2x.png"
         imgalt="Add a podcast"
         caption="Adding a podcast is as easy as clicking Subscribe."
      %}
   </section>
   <section class="c-section c-section--bleed" style="display:none;">
      <div class="c-section__content--inner">
         <article class="c-article js--wow fadeInUp">
            {{ page.sections['design'] | markdownify }}
         </article>
      </div>
   </section>
   {% include connect-with-me.html title="Like what you just saw? Let's work together and make something <strong>great</strong>!" %}
</main>
{% include site-footer.html %}
{% include html-footer.html %}
