{% include html-header.html %}
<main class="c-main">
   <section class="c-hero">
      {% include site-header.html %}
      <article class="c-article">
         <header class="c-article__header js--wow fadeInUp">
            <h1>A <strong>creative developer</strong> and <strong>designer</strong> with a focus on digital product design for <strong>mobile platforms</strong>.</h1>
         </header>
         <!--<p class="c-article__lede js--wow fadeInUp" data-wow-delay=".25s">{{ content }}</p>-->
      </article>
   </section>
   <section class="c-section c-section--extend">
      {% for project in site.data.projects %}
      <div class="c-item js--wow fadeInUp">
         <a href="{{ project.link }}"><figure class="c-figure c-figure--full"><img src="{{ project.cover-img }}" srcset="{{ project.cover-img }} 1x, {{ project.cover-img2x }} 2x" alt="{{ project.name }}"></figure></a>
         <p><a href="{{ project.link }}">{{ project.name }}</a> &mdash; {{ project.tagline }}</p>
      </div>
      {% endfor %}
   </section>
   {% include connect-with-me.html title="Like what you just saw? Let's work together and make something <strong>amazing</strong>!" %}
</main>
{% include site-footer.html %}
{% include html-footer.html %}
