{% include html-header.html
   theme="t--dark"   
%}
{% include site-header.html %}
<main class="o-grid o-grid--inherit o-grid__bleed">
   <article class="o-grid o-grid--inherit o-grid__bleed c-article">
      <header class="o-grid__bleed c-article__header">
         <h1 class="c-article__tagline">Jeremy is a creative developer and designer from Antwerp, Belgium. He's currently focusing on digital product design for mobile platforms.</h1>
      </header>
      <div class="o-grid__twothirds c-article__body">
         {{ content }}
      </div>
   </article>
</main>
{% include site-footer.html %}
{% include html-footer.html %}