{% include html-header.html %}
{% include site-header.html %}
<main class="c-main">
   <section class="c-section c-section--bleed">
      <div class="c-section__abreast">
         <article class="c-article">
            <header class="c-article__header js--wow fadeInUp">
               <h1><strong>Matter</strong> is the online playground of digital product designer, <strong>Jeremy Swinnen</strong>.</h1>
            </header>
            {{ content }}
         </article>
      </div>
   </section>
   <section class="c-section c-section--bleed c-section--darkest">
      <div class="c-section__content--inner">
         <header class="c-section__header js--wow fadeIn">
            <h2><strong>Skills and services.</strong> What I can help you with.</h2>
         </header>
      </div>
      <div class="c-section__triad">
         <article class="c-article js--wow fadeInUp" data-wow-delay=".25s">
            <h3>User Interface Design</h3>
            <p>Do you have a great idea for an iOS or Android app or does your existing app requires a visual overhaul? With a sense for great and usable design, I can give your app the interface it deserves.</p>
         </article>
         <article class="c-article js--wow fadeInUp" data-wow-delay=".5s">
            <h3>Responsive Web Design</h3>
            <p>I start every new project with a "mobile-first" approach. This ensures that the design works perfectly on the device your visitors visit your website with the most.</p>
         </article>
         <article class="c-article js--wow fadeInUp" data-wow-delay=".75s">
            <h3>Web Development</h3>
            <p>Using cutting edge web technologies and by writing clean and readable code, I can make interactive prototypes of my designs as well as bring my designs to life.</p>
         </article>
      </div>
   </section>
   <section class="c-section c-section--bleed">
      <div class="c-section__content--inner">
         <header class="c-section__header">
            <h2><strong>Manifesto.</strong> 6 things I stand by in my work.</h2>
         </header>
      </div>
      <div class="c-section--abreast">
         <div class="c-item c-item--manifesto">
            <h3>User Interface Design</h3>
            <p>Do you have a great idea for an iOS or Android app or does your existing app requires a visual overhaul? With a sense for great and usable design, I can give your app the interface it deserves.</p>
         </div>
         <div class="c-item c-item--manifesto">
            <h3>User Interface Design</h3>
            <p>Do you have a great idea for an iOS or Android app or does your existing app requires a visual overhaul? With a sense for great and usable design, I can give your app the interface it deserves.</p>
         </div>
         <div class="c-item c-item--manifesto">
            <h3>User Interface Design</h3>
            <p>Do you have a great idea for an iOS or Android app or does your existing app requires a visual overhaul? With a sense for great and usable design, I can give your app the interface it deserves.</p>
         </div>
         <div class="c-item c-item--manifesto">
            <h3>User Interface Design</h3>
            <p>Do you have a great idea for an iOS or Android app or does your existing app requires a visual overhaul? With a sense for great and usable design, I can give your app the interface it deserves.</p>
         </div>
      </div>
   </section>
   {% include connect-with-me.html title="Like what you just saw? Let's work together and make something <strong>great</strong>!" %}
</main>
<!--{% include site-footer.html %}-->
{% include html-footer.html %}
