{% include html-header.html %}
<main class="c-main">
   <section class="c-hero">
      {% include site-header.html %}
      <article class="c-article">
         <header class="c-article__header js--wow fadeInUp">
            <h1><strong>Matter</strong> is the online playground of digital product designer, <strong>Jeremy Swinnen</strong>.</h1>
         </header>
         {{ content }}
      </article>
   </section>
   <section class="c-section c-section--extend">
      <header class="c-section__header">
         <h2><strong>Skills and services.</strong> What I can help you with.</h2>
      </header>
      <div class="c-section c-section--abreast">
         <article class="c-article">
            <h3>Digital Product Design</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ratione suscipit doloremque recusandae delectus veritatis facere natus necessitatibus molestiae, dignissimos, perferendis voluptas, dolorem voluptatum consectetur autem ut nisi quia, neque.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At vel pariatur fugiat. Rem, aperiam tempora obcaecati totam id culpa! Magnam earum, ad, explicabo at eum labore consectetur ipsa blanditiis voluptatibus!</p>
         </article>
         <article class="c-article">
            <h3>Responsive Web Design &amp; Development</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ratione suscipit doloremque recusandae delectus veritatis facere natus necessitatibus molestiae, dignissimos, perferendis voluptas, dolorem voluptatum consectetur autem ut nisi quia, neque.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At vel pariatur fugiat. Rem, aperiam tempora obcaecati totam id culpa! Magnam earum, ad, explicabo at eum labore consectetur ipsa blanditiis voluptatibus!</p>
         </article>
      </div>
   </section>
   {% include connect-with-me.html title="Let's work together and make something <strong>great</strong>!" %}
</main>
<!--{% include site-footer.html %}-->
{% include html-footer.html %}
