{% include html-header.html %}
{% include site-header.html %}
<main class="c-main">
   <section class="c-section c-section--bleed">
      <div class="c-section__abreast">
         <article class="c-article">
            <header class="c-article__header js--wow fadeInUp">
               <h1><strong>Matter</strong> is the online playground of digital product designer, <strong>Jeremy Swinnen</strong>.</h1>
            </header>
            {{ content }}
         </article>
      </div>
   </section>
   
   {% include connect-with-me.html title="Let's make something <strong>great</strong> together." %}
</main>
<!--{% include site-footer.html %}-->
{% include html-footer.html %}
