{% include html-header.html %}
{% include site-header.html %}
<main class="c-main">
   <section class="c-hero">
      <article class="c-article">
         <header class="c-article__header js--wow fadeInUp">
            <h1>Selected work.</h1>
            <h2>Over the past few years I've had the opportunity to collaborate with start-ups and smart people from all over the world.</h2>
         </header>
      </article>
   </section>
   <section class="c-section c-section--bleed">
      <div class="c-section__abreast">
         {% for project in site.data.projects %}
         <div class="c-item c-item--work js--tilt">
            <a href="{{ project.link }}"><figure class="c-figure"><img src="{{ project.cover-img }}" srcset="{{ project.cover-img }} 1x, {{ project.cover-img2x }} 2x" alt="{{ project.name }}"></figure></a>
         </div>
         {% endfor %}
      </div>
   </section>
   {% include connect-with-me.html title="Like what you just saw? Let's work together and make something <strong>great</strong>!" %}
</main>
<!--{% include site-footer.html %}-->
{% include html-footer.html %}
