// =======================================================================
// Branding
// =======================================================================

.c-branding {
   height: 20px;
   .c-branding__svg {
      width: 130px;
      //fill: $c__neutral--white;
      @media (min-width: $b__large) {
         width: 150px;
      }
   }
}
