// =======================================================================
// Branding
// =======================================================================

.c-branding {
   display: inline-block;
   .c-branding__svg {
      width: 130px;
      fill: $c__neutral--darkest;
      @media (min-width: $b__large) {
         width: 140px;
      }
   }
}
