// =======================================================================
// Primary & secondary calls to action
// =======================================================================
.c-cta {
   position: relative;
   display: inline-block;
   text-decoration: none;
   &--link {
      span {
         position: relative;
         display: inline-block;
         overflow: hidden;
         &::before {
            position: absolute;
            top: 94%;
            width: 100%;
            height: 2px;
            background: $c__neutral--white;
            content: '';
            transform: translate3d(-100%,0,0);
            transition: transform .6s $easing__bezier;
         }
      }
      &:hover span::before {
         transform: translate3d(100%,0,0);
      }
   }
}
