// =======================================================================
// Figure
// =======================================================================

.c-figure:not(.c-section--diabetik .c-figure, .c-section--realo .c-figure, .c-section--shelf .c-figure, .c-section--immobrown .c-figure, .c-section--nintendo .c-figure, .c-section--castaway .c-figure, .c-item--work .c-figure) {
   margin-bottom: 2vh;
   img {
      margin-bottom: 2vh;
   }
   figcaption {
      text-align: center;
   }
}
.c-figure--work {
   position: relative;
   padding: 7vw;
   background: $c__stone--lightest;
   figcaption {
      display: none;
      position: absolute;
      padding: 3vw;
      left: 0;
      bottom: 0;
      width: 40%;
      background: $c__stone--lightest;
      text-align: left !important;
      z-index: 9999;
   }
   img {
      margin-bottom: 0 !important;
      transition: all .6s $easing__bezier;
   }
   &:hover img {
      transform: scale(1.025);
   }
   @media(min-width: $b__medium) {
      padding: 5vw;
      figcaption {
         display: block;
      }
   }
}
