// =======================================================================
// Footer
// =======================================================================

.c-footer {
   margin-top: $u-spacer--3xl;
   margin-bottom: $u-spacer--2xl;
   padding-top: $u-spacer;
   border-top: 1px solid $c-neutral--mid;
}