// =======================================================================
// Footer
// =======================================================================

.c-footer {
   margin-bottom: $u-spacer--m;
   padding-top: $u-spacer;
   color: $c-neutral--darkest;
   border-top: 1px solid $c-neutral--darkest;
}