// =======================================================================
// Item
// =======================================================================

.c-item {
   margin-bottom: 8vh;
   .c-figure {
      margin-bottom: 1rem;
      overflow: hidden;
      border-radius: $radius__midi; //8px
      img {
         transition: all .6s $easing__bezier;
      }
   }
   &:hover .c-figure img {
      transform: scale(1.045);
   }
   &:active .c-figure img {
      opacity: .85;
      transition-duration: .001s;
   }
   p a {
      text-decoration: none;
   }
}
.c-item--skill {
   margin-bottom: 2vh;
   padding: 2.4rem;
   border-radius: $radius__midi;
   h3 {
      margin-bottom: 0;
      color: $c__neutral--white;
   }
   &:nth-child(1) {
      background: #975e57;
   }
   &:nth-child(2) {
      background: #6a3957;
   }
   &:nth-child(3) {
      background: #603f6a;
   }
   &:nth-child(4) {
      background: #4e3f71;
   }
   &:nth-child(5) {
      background: #3c4c76;
   }
   &:nth-child(6) {
      background: #326168;
   }
}
