// =======================================================================
// Item
// =======================================================================

.c-item {
   margin-bottom: 8vh;
   //overflow: hidden;
   .c-figure {
      margin-bottom: 1rem;
      overflow: hidden;
      border-radius: $radius__midi; //8px
      img {
         transition: all .6s $easing__bezier;
      }
   }
   &:hover .c-figure img {
      transform: scale(1.045);
   }
   &:active .c-figure img {
      opacity: .85;
      transition-duration: .001s;
   }
   p a {
      text-decoration: none;
   }
}
