// =======================================================================
// Item
// =======================================================================

.c-item {

}
.c-item--work {
   margin-bottom: 4vh;
   padding: 6vw;
   background: $c__stone--lightest;
   .c-figure, .c-figure * {
      margin-bottom: 0;
   }
   .c-figure img {
      transition: all .6s $easing__bezier;
   }
   &:hover .c-figure img {
      transform: scale(1.025);
   }
   @media(min-width: $b__medium) {
      margin-bottom: 0;
      padding: 3vw;
   }
}
.c-item--manifesto {
   /*position: relative;
   &:before {
      position: absolute;
      top: -1rem; //16px
      left: -2rem; //32px
      font-size: 6.5rem; //104px
      font-weight: $fw__heavy;
      content: '1';
      //color: $c__stone--lightest;
      z-index: -1;
   }
   &:nth-child(2):before {
      content: '2';
   }
   &:nth-child(3):before {
      content: '3';
   }
   &:nth-child(4):before {
      content: '4';
   }
   &:nth-child(5):before {
      content: '5';
   }
   &:nth-child(6):before {
      content: '6';
   }*/
}
