// =======================================================================
// Links
// =======================================================================

a {
   font-weight: $fw__semibold;
   color: $c__neutral--white;
   text-decoration: underline;
   &:hover {
      color: currentColor;
      text-decoration: none;
   }
   &:active {
      color: $c__neutral--light;
   }
}
