// =======================================================================
// Links
// =======================================================================

a {
   color: currentColor;
   text-decoration: underline;
   &:hover {
      color: currentColor;
      text-decoration: none;
   }
   &:active {
      color: red;
   }
}
