// =======================================================================
// Lists
// =======================================================================

.c-list {
   padding: 0;
   list-style: none;
   .c-list__item {
      margin-bottom: 1vh;
      color: $c__neutral--mid;
   }
}
.c-list--deliverables {
   .c-list__item {
      @include fs__mini;
      font-weight: $fw__regular !important;
      color: $c__neutral--light;
      @media(min-width: $b__medium) {
         display: inline;
         &:after {
            padding: 0 0.8rem;
            content: '\2022';
            color: $c__neutral--dark;
         }
         &:last-child:after {
            padding: 0;
            content: '';
         }
      }
   }
}
.c-list--segmented {
   .c-list__item {
      margin-bottom: 2vh;
      padding: 1.25rem;
      border: 1px solid $c__neutral--darkest;
      border-radius: $radius__base;
      transition: all .24s $easing__bezier;
      a {
         text-decoration: none;
         &:hover {
            color: $c__neutral--white;
         }
      }
      h4 {
         margin-bottom: 1rem;
      }
      p {
         margin-bottom: 0;
            span {
            font-weight: $fw__regular;
            color: $c__neutral--light;
         }
      }
      &:hover {
         opacity: 1;
         background: $c__neutral--darkest;
         transform: scale(1.03);
      }
      @media(min-width: $b__medium) {
         opacity: .8;
      }
   }
}
