// =======================================================================
// Masthead
// =======================================================================

.c-masthead {
   margin: $u-spacer--l 0 $u-spacer--xxl 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   .c-masthead__brand a {
      @include font-size($small-font-sizes);
      text-decoration: none;
   }
   .c-nav--primary {
      display: none;   
   }
   .c-nav--secondary {
      display: none;
   }
   @media(min-width: map-get($breakpoints, medium)) {
      margin: $u-spacer--l 0 $u-spacer--xxxl 0;
      align-items: initial;
      justify-content: initial;
      flex-direction: column;
      .c-masthead__brand {
         display: none;
      } 
      .c-nav--primary, .c-nav--secondary {
         display: flex;
      }    
   }
}
.c-masthead-toggle {
   position: absolute;
   top: 24px;
   right: 24px;
   z-index: 22;
   a svg {
      display: block;
      fill: $c-darkest;
      * {
         transform-origin: 15px 15px;
         transition: all .12s cubic-bezier(.455,.03,.515,.955);
      }
      .c-masthead-toggle__head {
         transform: translateY(-4px);
      }
      .c-masthead-toggle__toes {
         transform: translateY(4px);
      }
   }
   &.c-masthead-toggle--click {
      a svg {
         fill: #fff;
         .c-masthead-toggle__head {
            transform: rotate(-45deg);   
         }
         .c-masthead-toggle__toes {
            transform: rotate(45deg);
         }   
      } 
   }
   @media(min-width: map-get($breakpoints, medium)) {
      display: none;   
   }
}
.c-masthead-modal {
   position: fixed;
   padding: $u-spacer--l;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   display: flex;
   height: 100%;
   background: $c-darkest;
   color: #fff;
   opacity: 0;
   pointer-events: none;
   overflow: auto;
   z-index: 20;
   transition: all .28s cubic-bezier(.455,.03,.515,.955);
   .c-nav {
      align-self: center;
      .c-nav__items {
         display: initial;
         .c-nav__item {
            margin-bottom: $u-spacer;
            &:first-child {
               margin-bottom: $u-spacer--s;
            }
            &:last-child {
               margin-bottom: 0;
            }
         }
      }
   }
   &.c-masthead-modal--open {
      opacity: 1;
      pointer-events: auto;
   }
}