// =======================================================================
// Masthead
// =======================================================================

.c-masthead {
   display: flex;
   align-items: center;
   margin-bottom: 6vh;
   .c-branding, .c-nav__item {
      margin-right: 4vw;
   }
   .c-nav__item:last-child {
      margin-right: 0;
   }
   @media(min-width: $b__large) {
      .c-branding, .c-nav__item {
         //margin-right: 2.4vw;
      }
   }
}
