// =======================================================================
// Modal
// =======================================================================

.c-modal {
   position: fixed;
   top: 0;
   left: 0;
   display: none;
   min-width: 100%;
   min-height: 100vh;
   z-index: 3;
   .c-modal__content {
      padding: 3rem;
      min-width: 100%;
      min-height: 100vh;
      color: #111;
      background: $c__neutral--white;
      h1, h2 {
         color: #333;
      }
   }
}
