// =======================================================================
// Navigation
// =======================================================================

.c-nav {
   margin-bottom: $u-spacer--l;
   padding: 0 $u-spacer--m;
   h3 {
      color: $c-neutral--mid;
   }
   .c-nav__items {
      padding: 0;
      list-style: none;
      .c-nav__item {
         margin-bottom: $u-spacer--xs;
         a {
            font-size: 1.125rem; //18px
         }
      }
   }
   .c-nav__items--projects {
      padding-left: $u-spacer--m;
      .c-nav__item {
         display: flex;
         align-items: center;
         &:after {
            margin-left: $u-spacer--s;
            display: block;
            flex: 1 0 auto;
            height: 1px;
            content: '';   
         }
         &:nth-child(1):after {
            background: $c-shelf;
         }
         &:nth-child(2):after {
            background: $c-realo;
         }
         &:nth-child(3):after {
            background: $c-hocusfocus;
         }
         &:nth-child(4):after {
            background: $c-diabetik;
         }
         &:nth-child(5):after {
            background: $c-immobrown;
         }
      }
   }
   .c-nav__items--social {
      display: flex;
      .c-nav__item {
         flex: 1 0 auto;
      }
   }
}