// =======================================================================
// Navigation
// =======================================================================

.c-nav {
   .c-nav__toggle {
      cursor: pointer;
      svg rect {
         fill: $c__neutral--darkest;
      }
      @media(min-width: $b__medium) {
         display: none;
      }
   }
   .c-nav__items {
      display: none;
      @media(min-width: $b__medium) {
         display: block;
         padding: 0;
         list-style: none;
         .c-nav__item {
            display: inline;
            margin-right: 4vw;
            a {
               @include fs__mini;
               font-weight: $fw__medium;
               color: $c__neutral--light;
               //letter-spacing: 0.075rem;
               //text-transform: uppercase;
               text-decoration: none;
               &:hover {
                  color: $c__neutral__mid;
               }
               &.c-nav__item--selected {
                  font-weight: $fw__semibold;
                  color: $c__neutral--dark;   
               }
            }
            &:last-child {
               margin-right: 0;
            }
         }
      }
      @media(min-width: $b__large) {
         .c-nav__item {
            margin-right: 2.4vw;
         }
      }
   }
}
.c-nav--mobile {
   display: none;
}
