// =======================================================================
// Typography
// =======================================================================

// Body
body {
   font-family: $ff-sans-serif;
   @include font-size($body-font-sizes);
   color: $c-darkest;
}

// Headings
h1 {
   margin-bottom: $u-spacer;
   @include font-size($h1-font-sizes);
   color: $c-darkest;
   letter-spacing: -0.035545rem;
}
h2 {
   margin-bottom: $u-spacer;
   @include font-size($h2-font-sizes);
   color: $c-darkest;
   letter-spacing: -0.016743rem;
}
h3, .c-article__lede {
   @include font-size($h3-font-sizes);
   color: $c-darkest;
}
small {
   @include font-size($small-font-sizes);
   color: $c-mid;
}

//Figcaption
figcaption {
   p {
      @include fs__mini;
      color: $c-mid;
   }
}

// Blockquote
blockquote {
   margin: $u-spacer;
   p {
      @include fs__maxi;
      line-height: 1.45;
      font-weight: bold;
      hanging-punctuation: first;
   }
   cite {
      color: $c-mid;
   }
}