// =======================================================================
// Layout
// =======================================================================

.u-container {
	@include grid-container;
   margin: 0 auto;
	padding: 0 1.125rem; //0 18px
	@media (min-width: $b__xlarge) {
		padding: 0;
		width: $u__max-width;
	}
}
.u-gridvisual {
	@include grid-visual;
}
